@import 'helpers';
@import 'variables';
@import 'components';

.erro{
  padding: 10%;

  h4{
    font-family: Georgia;
font-style: normal;
width: 90%;
font-weight: bold;
font-size: 50px;
line-height: 67px;
color: $color-6;

  }
}

small{
  // font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 14px;
}

