<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center erro mx-auto">
      <div class="gift text-center mx-auto">
        <img src="./assets/icons/gifts.png" alt="">

      </div>
      <div class="text-gift text-center mt-3">

        <ng-container *ngIf="active">
          <h4 class="mx-auto">
            Sorry it <span id="snow">%snowed / rained%</span> on your plans, but
            thanks to <span class="orange-text">John Smith</span> you get $
            <span
              class="orange-text">0,000</span>!
          </h4>
          <small>
            Sign in or create an account to claim your gift.
          </small>
        </ng-container>
        <ng-container *ngIf="!active">
          <h4 class="mx-auto">
            Hi Bob, Sorry about the %snowed / rained%, but
            thanks to <span class="orange-text">John Smith</span> you get $
            <span
              class="orange-text">0,000</span>!
          </h4>
        </ng-container>
      </div>
      <div class="row mt-5">
        <ng-container *ngIf="active">
          <div class="col-lg-5 mx-auto">
            <a href="javascript:void(0)" class="btn-precipy v4 w-100">Log in</a>
          </div>
          <div class="col-lg-1">
            <span>
              or
            </span>
          </div>
          <div class="col-lg-5 mx-auto">
            <a href="javascript:void(0)" class="btn-precipy v3 w-100">Create an
              account</a>
          </div>
        </ng-container>
        <ng-container *ngIf="!active">
          <div class="col-lg-5 mx-auto">
            <div>
              <a href="javascript:void(0)" class="btn-precipy v4 w-100">Get my
                payout</a>
            </div>
            <div class="mt-5">
              <a href="javascript:void(0)" class="btn-precipy v4 w-100">Gift
                details</a>
            </div>
            <div class="mt-5">
              <a href="javascript:void(0)" class="btn-precipy v5 w-100">Do it
                Later</a>
            </div>

          </div>

        </ng-container>

      </div>
    </div>
  </div>
</div>
