<form  [formGroup]="form" (submit)="save()">
    <div class="account">
        <h1>
            My Account
        </h1>

        <div class="row">
            <div class="col-lg-6">
                <div class="personal">
                    <h3>
                        Personal information
                    </h3>
                    <p>
                        <label>Full Name</label>
                        <mat-form-field class="w-100" [hideRequiredMarker]="true">
                            <mat-label></mat-label>
                            <input matInput placeholder="type your name..."  formControlName="name" required>
                        </mat-form-field>
                    </p>
                    <p>
                        <label>Email</label>
                        <mat-form-field class="w-100">
                            <input matInput  formControlName="email" readonly required >
                        </mat-form-field>
                    </p>
                </div>
                <div class="alert alert-success" *ngIf="msgUpdate">
                    Information updated!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto mt-5 text-center">
                <button  class="btn btn-precipy v3 " [disabled]="form.invalid || loading" >
                    <ng-container *ngIf="loading "> Editing... </ng-container>
                    <ng-container *ngIf="!loading "> Edit Information</ng-container>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto mt-5 text-center">
                <a href="" class="btn-precipy v3 w-100" routerLink='/my-account/change-password'
                    routerLinkActive="active">
                    Change Password
                </a>
            </div>
        </div>


    </div>
</form>
