<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 text-left log">
            <form [formGroup]="form" (submit)="login()">

                <h1 class="title">
                    Log in to your account
                </h1>
                <span>
                    <small>
                        Don’t have an account?
                    </small>
                    <a href="javascript:void(0)" class="btn-sing orange-text" [routerLink]="['/auth/sign-up', params]">
                        Sign up
                    </a>
                </span>
                <div class="login form">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter your email" formControlName="email">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" placeholder="Enter your password" formControlName="password">
                        </mat-form-field>
                        <br>
                        <mat-hint *ngIf="error == 'auth/user-not-found'">
                            That email or password didn’t work.
                            Please try again.
                        </mat-hint>

                    </p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-precipy w-100" [disabled]="form.invalid || auth.helper.isLoading">
                            <ng-container *ngIf="!auth.helper.isLoading">Login</ng-container>
                            <ng-container *ngIf="auth.helper.isLoading">wait a sec...</ng-container>
                        </button>
                    </div>
                    <div class="col-6">
                        <a href="" class="btn-precipy v5"  routerLink='/auth/forgot-password'>
                            Forgot password?
                        </a>
                    </div>



                </div>
            </form>

        </div>
        <div class="col-lg-4 col-md-12 text-center">
            <div class="element mx-auto">
                <img src="./assets/icons/umbrella.png" alt="precipy-umbrella">
            </div>
        </div>
    </div>
</div>
