<div class="carossel mx-auto text-left mt-5">
  <h2 class="text-center">
    Privacy Police
  </h2>
  <p>
    This privacy policy sets out how PRECIPY LLC and its affiliates (“Company”) uses and protects any information that
    you give the Company when you use this website. The Company is committed to ensuring that your privacy is protected.
    Should we ask you to provide certain information by which you can be identified when using this website, then you
    can be assured that it will only be used in accordance with this privacy statement. The Company may change this
    policy from time to time by updating this page. You should check this page from time to time to ensure that you are
    aware of any changes. This policy is effective from the date and time that it is posted.

  </p>
  <div class="a">
    <h3>
      What we collect
    </h3>
    <p>
      We may collect the following information:
    </p>
    <ul>
      <li>
        Name and job title
      </li>
      <li>
        Contact information including email address and mobile phone number
      </li>
      <li>
        Demographic information such as postcode, preferences and interests
      </li>
      <li>
        Other information relevant to the services we provide
      </li>
    </ul>
  </div>

  <div class="a">
    <h3>
      What we do with the information we gather
    </h3>
    <p>
      We require this information to understand your needs and provide you with a better service, and in particular for
      the following reasons:
    </p>
    <ul>
      <li>
        Internal record keeping.


      </li>
      <li>
        We may use the information to improve our products and services.

      </li>
      <li>
        We may periodically send promotional emails about new products, special offers or other information which we
        think you may find interesting using the email address which you have provided.
      </li>
      <li>
        From time to time, we may also use your information to contact you for market research purposes. We may
        contact you by email, phone, fax or mail. We may use the information to customize the website according to your
        interests.
      </li>
    </ul>
  </div>
  <div class="a">
    <h3>
      How we use cookies
    </h3>
    <p>
      A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the
      file is added and the cookie helps analyze web traffic or lets us know when you visit a particular website.
      Cookies allow web applications to respond to you as an individual. The web application can tailor its operations
      to your needs, likes and dislikes by gathering and remembering information about your preferences.
    </p>
    <p>
      We use traffic log cookies to identify which pages are being used. This helps us analyze data about webpage
      traffic and improve our website in order to tailor it to customer needs. Overall, cookies help us provide you with
      a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way
      gives us access to your computer or any information about you, other than the data you choose to share with us.
      You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually
      modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of
      the website.
    </p>

  </div>

  <div class="a">
    <h3>
      Links to other websites
    </h3>
    <p>
      Our website may contain links to other websites of interest. However, once you have used these links to leave our
      site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible
      for the protection and privacy of any information which you provide while visiting such websites, and such
      websites are not governed by this privacy statement. You should exercise caution and look at the privacy statement
      applicable to the website in question.
    </p>

  </div>
  <div class="a">
    <h3>
      Controlling your personal information
    </h3>
    <p>
      We will not sell, distribute or lease your personal information to third parties unless we have your permission or
      are required by law to do so. We may use your personal information to send you promotional information about third
      parties. You may request details of personal information which we hold about you. If you would like a copy of the
      information held on you please contact us. If you believe that any information we are holding on you is incorrect
      or incomplete, please write to or email us as soon as possible. We will promptly correct any information found to
      be incorrect.

    </p>

  </div>

</div>
