<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center erro mx-auto">
            <div class="gift text-center mx-auto">
                <img src="./assets/icons/question-big.png" alt="">

            </div>
            <div class="text-gift text-center mt-3" *ngIf="!route.snapshot.params.no_connection && !route.snapshot.params.payment">
                <h4 class="mx-auto">
                    <span class="orange-text">Oh no!</span> Looks like you're lost!
                </h4>
                <small>
                    We can’t find the page you’re looking for, but like everything else we
                    do: we got you covered!
                    <br>
                    <br>
                    Head back to the home page and you’ll be right
                    back on track.
                </small>
            </div>

            <div class="text-gift text-center mt-3" *ngIf="route.snapshot.params.no_connection">
                <h4 class="mx-auto">
                    <span class="orange-text">Oh no!</span> you're with no internet connection!
                </h4>
                <small>
                    Verify your internet connection and reload the page.
                    <br>
                    <br>
                </small>
            </div>
            <div class="text-gift text-center mt-3" *ngIf="route.snapshot.params.payment">
                <h4 class="mx-auto">
                    <span class="orange-text">Oh no!</span> we have a problem processing your payment. You can try again later!
                </h4>
                <small>
                    Verify your internet connection and reload the page.
                    <br>
                    <br>
                </small>
            </div>
            
            <div class="row mt-5">
                <div class="col-lg-12 mx-auto">
                    <a href="javascript:void(0)" routerLink='/home'
                        *ngIf="!route.snapshot.params.no_connection && !route.snapshot.params.payment" class="btn-precipy v4 w-100">
                        Return to home
                        page
                    </a>

                    <a href="javascript:void(0)" routerLink='/checkout'
                    *ngIf="!route.snapshot.params.no_connection && route.snapshot.params.payment" class="btn-precipy v4 w-100">
                        Return to checkout
                    </a>
                    <a href="javascript:location.reload()" 
                        *ngIf="route.snapshot.params.no_connection" class="btn-precipy v4 w-100">Reload the page</a>
                </div>
            </div>
        </div>
    </div>
</div>