<div class="container-fluid nav-quote" (click)="helper.closeNav($event);  close()">
    <div class="row menu" id="row-menu">
        <div class="col-lg-2">
            <div class="logo">
                <a href="javascript:void(0)" routerLinkActive='active' routerLink='/home'>
                    <img src="./assets/logos/precipy-logo.svg" alt="precipy-logo">
                </a>
            </div>
        </div>
        <div class="col-lg-5 mx-auto text-center">
            <nav>
                <ul>
                    <a href="javascript:void(0)" routerLinkActive='active' routerLink='/about'>
                        <li>About</li>
                    </a>
                    <a href="javascript:void(0)" routerLinkActive='active' [routerLink]="['/home', {section:'why'}]">
                        <li>Why Precipy?</li>
                    </a>
                    <a href="javascript:void(0)" routerLinkActive='active' [routerLink]="['/home', {section:'how'}]">
                        <li>How It Works</li>
                    </a>
                </ul>
            </nav>
        </div>
        <div class="col-lg-5 menu-left text-right" id="menu-left">
            <div class="quote menu-p-item">
                <a href="javascript:void(0)" class="btn-precipy" (click)="helper.toggleNav('nav')">
                    Get a quote
                </a>
            </div>
            <div class="cart menu-p-item v2">
                <span *ngIf="cart.count > 0">{{ cart.count }}</span>
                <a href="javascript:void(0)" routerLinkActive='active' routerLink='/checkout'>
                    <img src="./assets/icons/cart.svg" alt="">
                </a>
            </div>
            <div class="login menu-p-item">
                <a href="javascript:void(0)" class="btn-precipy v1" routerLinkActive='active' routerLink='/auth/login'
                    *ngIf="!auth.isLoggedIn">
                    Login
                </a>
                <div class="dropdown hover-open" *ngIf="auth.isLoggedIn" id="hover-menu"    (mouseleave)="closeDropdown($event)">
                    <button class="btn-name dropdown-toggle" type="button" id="dropdownMenuButton"
                        (mouseenter)="openDropdown($event)"
                        data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        {{ auth.user.name }}
                    </button>
                    <div class="dropdown-menu show" aria-labelledby="dropdownMenu2" *ngIf="dropdown">
                        <button  class="dropdown-item" routerLinkActive='active'
                            routerLink="/policies" type="button">My Policies </button>
                        <button  routerLinkActive="active" routerLink='/my-account'
                            class="dropdown-item" type="button">My Account</button>
                        <button class="dropdown-item" (click)="auth.signOut()">
                            Sign out
                        </button>
                    </div>
                </div>


            </div>
        </div>
        <ng-container *ngIf="rainItensities">
            <ng-container *ngIf="helper.content == 'nav'">
                <app-create-quote [rainItensities]="rainItensities" > </app-create-quote>
            </ng-container>

            <ng-container *ngIf="helper.content == 'edit-quote'">
                <app-create-quote [rainItensities]="rainItensities" [edit]="true"> </app-create-quote>
            </ng-container>

            <ng-container *ngIf="helper.content == 'duplicate'">
                <app-create-quote [rainItensities]="rainItensities" [duplicate]="true"> </app-create-quote>
            </ng-container>
        </ng-container>
    </div>
</div>
