@import "helpers";
@import "variables";
@import "components";

.menu {
  padding: 50px 50px 10px 50px;
  background-color: white;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.14);
}

.logo {
  position: relative;
  bottom: 10px;
}

nav {
  padding-left: 10px;

  // &.nav-white {
  //   a {
  //     color: white;
  //   }

  //   li {
  //     &::after {
  //       background: white;

  //     }

  //     &:hover::after {
  //       width: 100%;
  //       transition: width .3s
  //     }
  //   }
  // }


  a {
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: $color-6;

    li {
      display: inline-block;
      list-style: none;
      margin: 10px 20px;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: $color-1;
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%;
        transition: width 0.3s;
      }
    }
  }
}



.menu-left {
  .menu-p-item {
    display: inline-block;
    margin: 0 0 0 20px;

    &.v2{
      margin: 0 9px 0 19px;

  }
}
}

.cart {


  span {
    background-color: #F79256;
    color: white;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    border-radius: -110px;
    position: relative;
    top: -25px;
    left: 66px;
  }

  img {
    transform: scale(1);
    transition: all (1s);

    &:hover {
      // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
      transform: scale(1.3);
      transition: all (500ms);
    }
  }
}

.menu-1 {
  position: fixed;
  top: 0;
  right: 0;

  width: 0;
  height: 100%;
  z-index: 999;
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &.show {
    width: 100%;
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &.show::before {
    left: auto;
    right: 0;
    width: 100%;
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &::before {
    content: "";
    position: absolute;
    right: auto;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(rgb(58, 158, 160), 0.5);
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .close-menu {
    position: absolute;
    z-index: 5;
    left: 25px;
    top: 25px;
    float: left;
  }

  .menu-list {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: white;
    overflow: scroll;

    .bg-quote {
      background-color: #F6FAFD !important;
      padding: 20px;
    }

    header {
      h3 {
        font-family: Georgia-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 34px;
        position: relative;
        color: $color-6;
      }

      .element {
        float: right;
        z-index: 5;
        right: 25px;
        top: 25px;
        position: absolute;
      }
    }

    .section-one,
    .section-two,
    .section-tree {
      background-color: white;
      border-radius: 30px;
      box-shadow: -1px 0px 10px -2px rgba(0, 0, 0, 0.75);
      padding: 4%;
    }

    .section-two {
      min-height: 120px;
    }

    .title-quote {
      h2 {
        font-family: Georgia-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 78.4px;
        line-height: 78px;
        color: #ffe9a7;

        span {
          font-family: SFProText-Regular;
          font-style: normal;
          font-weight: 100;
          font-size: 22px;
          line-height: 164.5%;
          z-index: 1;
          color: #5A6767;
          position: relative;
          right: 45px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      width: 100%;
    }

    @include media-breakpoint-up(lg) {
      width: 50%;
    }

    ul {
      list-style: none;
      text-decoration: none;
      padding-left: 0;

      li {
        display: block;
        padding: 10px 0 10px 100px;

        a {
          color: #868686;
          font-family: Nunito-Light;
          font-size: 32px;
        }
      }
    }
  }
}

.less-more {

  span {
    position: relative;
    left: 20px;
  }

  span,
  button.btn {
    font-family: Georgia-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -0.095em;
    color: #272e2e;
    float: left;
  }

  .btns {

    span,
    button.btn {
      border: 1px solid $color-2;
      color: white;
      border-radius: 58px;
      padding: 2% 8%;
      cursor: pointer;
      background: $color-2;
      float: right;
      font-family: SFProText-Regular;

      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      margin: 2%;

      &:hover {
        background: transparent;
        border: 1px solid $color-2;
        color: $color-2;
      }
    }
  }
}

form {

  input,
  select {
    ::placeholder {
      font-family: SFProText-Regular;


      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 164.5%;
      color: #797f84;
    }
  }

  label {
    font-family: SFProText-Regular;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 164.5%;
    color: $color-6;
  }
}

.buttons {
  margin-top: 50px;

  button {
    margin: 0 5px;
  }
}

.change {
  a {
    color: $color-6 !important;
    font-family: SFProText-Regular;

    font-style: bold;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    line-height: 164.5%;
    cursor: pointer;
  }

  strong span {
    color: #797979 !important;
  }
}

//////////////////////begin

.animate_1 {
  animation-name: continue;
  animation-duration: 0.1s;
}

@keyframes continue {

  /*from {
    height: 120px;
  }

  to {
    //transform: translateX(0%);
    height: 190px;
  }*/
  0% {
    height: 120px;
  }

  75% {
    height: 140px;
  }

  100% {
    height: 200px;
  }
}


div.confirmPrice {
  height: 230px;
  /*min-height: 120px;*/
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: -1px 0px 10px -2px rgba(0, 0, 0, 0.75);

  &.two {
    height: 400px;
  }

  &.one {
    height: auto;
  }

  div.left {
    flex: 1;
    padding: 4% 1% 1% 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div.left h3 {
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
  }

  div.left span {
    text-align: left;
    font-size: 13px;
    color: #797979 !important;
  }

  div.left span {
    text-align: left;
    font-size: 13px;
    color: #797979 !important;
  }

  div.left span strong {
    color: #2f2e41 !important;
    cursor: pointer;
  }

  div.right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #000000;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.right span {
    font-size: 32px;
    color: #ffffff;
  }

  //////////////////
  div.content {
    flex: 1;
    padding: 2%;
    display: flex;
    flex-direction: column;
  }

  div.content ul {
    // border: 1px solid red;
    height: 130px;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  div.content ul li {
    // border: 1px solid blue;
    display: inline-block;
    flex-direction: column;
    flex: 1;
    padding: 1% 3%;
  }

  div.content ul li div.contentPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    border-radius: 15px;
    padding-bottom: 5%;
    background-color: #F2F2F2;

    &:hover {
      background-color: #000000;
      cursor: pointer;
      color: #F2F2F2;
      ;
    }

    h3 {
      font-family: Georgia-Bold;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 41px;
      letter-spacing: -0.04em;
    }
  }

  div.content ul li div.contentPrice h3 {
    font-size: 28px;
  }

  div.content ul li div.contentPrice span {
    font-size: 16px;
    font-style: italic;
  }

  div.content ul li div.contentPrice.active {
    background-color: #272E2E;

    & h3 {
      color: #ffffff;
    }

    & span {
      color: #ffffff;
    }
  }

  // div.content div.contentInfo {
  //   margin-top: 4%;
  //   // border: 1px solid red;
  //   padding: 0 1%;

  // }

  div.content div.contentInfo span {
    font-size: 13px;
    color: #797979 !important;
    padding: 20px;
  }

  div.content div.contentInfo span strong {
    color: #2f2e41 !important;
    cursor: pointer;
  }
}

.contentInfo {
  text-align: left;
}

.price {
  color: white;
  padding: 20px;
  border-radius: 15px;
}

.text-price {
  p {
    font-family: SFProText-Regular;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 125%;
    /* or 16px */

    display: flex;
    align-items: center;

    color: #272E2E;
  }

}

.range {
  text-align: center;
  padding: 0 3px;

  h2 {
    font-family: Georgia-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    /* identical to box height */
    // position: relative;
    // left: 40px;

    color: #000000;
  }

  h6 {
    font-family: SFProText-Regular;

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;

    color: #000000;
  }

  .rangee-item {
    border-radius: 15px;
    background-color: #F6FAFD;
    text-align: center;
    padding: 20px 5px;

    .adjust-number {
      position: relative;
      top: 20px;
    }
  }
}

.left {
  .adjust-for {
    margin-top: 50px !important;
  }
}

.adjust {
  position: relative;
  left: 75px;
}

.btn-name {
  font-family: SFProText-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  background: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  color: #2F2E41;
}

.dropdown-menu {
  border: 1px solid $color-1;
  border-radius: 0;
  position: absolute;
  top: 38px !important;
  left: -50px !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color:$color-1;
}



.form-control {
  border: 2px solid #BBDBDB !important;
  font-family: SFProText-Regular !important;
  border-radius: 0;
  font-size: 14px;
  height: 50px;
  color: black !important;


}
