@import 'helpers';
@import 'variables';
@import 'components';


.element {
  img {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.ilustration{
  padding: 0 0 230px 0;

  img{
    position:  absolute;
    right: 0;
    top: 40px;
  }
}


.terms {
  padding: 10%;

  a {
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: bold;
    color: $color-6;

  }
}

.txt-privacy {
  margin: 5% 0;
  a {
    text-decoration: none;
    color: $color-6;
    top: 30%;
    position: relative;
  }
  padding-bottom: 15px;

}

.txt-privacy {
  &::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 0%;
    width: 100%;
    height: 8px;
    background-color: trasparent;

  }

  &.active{
    background-color: white;
    height: 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: $color-1 !important;

    // width: 80%;
  }

  &.active::after {
    background-color: $color-1;

  }
}


