<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center mx-auto ">
      <div class="element">
        <img src="./assets/icons/puddle-small.png" alt="">
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 bg terms">
          <div class="row">
            <div class="col-lg-11 col-md-11 mx-auto banner">
              <div class="row txt-titulo txt-titulo-banner ">
                <div class="col-lg-6 col-md-6 txt-privacy txt-b txt-img"
                  [routerLink]="['privacy']"
                  routerLinkActive="active">
                  <a href="javascript:void(0)"> Privacy </a>
                </div>
                <div class="col-lg-6 col-md-6 txt-privacy txt-b txt-img"
                [routerLink]="['condition']"
                  routerLinkActive="active">
                  <a href="javascript:void(0)"> Condition of use </a>
                </div>

              </div>
              <router-outlet></router-outlet>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-right">
      <div class="ilustration">
        <img class="px-0" src="./assets/icons/puddle-big.png" alt="">
      </div>
    </div>
  </div>
</div>
