<div class="account">
    <h1>
        My Account
    </h1>
    <div class="personal">
        <h3>
            Payment methods
        </h3>

        <div class="row" *ngFor="let method of methods; let idx = index">
            <div class="col-lg-9">
                <div class="beneficiary">
                    <span class="float-left">
                        <label>Type</label>
                        <input type="text" [placeholder]="method.type +' ' + method.card?.brand" readonly>
                    </span>
                    <span class="float-left">
                        <label>Card Number</label>
                        <input type="text" [placeholder]="'ending in ' + method.card.last4" readonly>
                    </span>
                    <span class="float-left">
                        <label>Billing Address</label>
                        <input type="text"
                            [placeholder]="'zip: ' +( method.billing_details.address.postal_code? method.billing_details.address.postal_code : '')"
                            readonly>
                    </span>
                    <span class="float-left use-for">
                        Use for: <mat-checkbox checked="true">Payment</mat-checkbox>
                        <mat-checkbox>Payout</mat-checkbox>
                    </span>
                </div>
            </div>
            <div class="col-lg-3 text-left manage">
                <button class="btn" type="button" (click)="methodEdit(method, idx)">
                    <img src="./assets/icons/edit.png" alt=""> Edit
                </button>
                &nbsp;
                <button class="btn" [disabled]="deletingIdx == idx" type="button" (click)="removeMethod(method.id, idx)">
                    <ng-container *ngIf="deletingIdx == idx">Deleting...</ng-container>
                    <ng-container *ngIf="deletingIdx !== idx"><img src="./assets/icons/delete.png" alt=""> Delete</ng-container>
                </button>
            </div>
        </div>
    </div>
    <form [formGroup]="form" (submit)="submit()">
        <div class="row">
            <div class="col-lg-9 new" *ngIf="showHideNewMethod">
                <div class="beneficiary">
                    <div class="information_payment" >
                        <div class="form-row mx-0 my-3">
                            <div class="col-lg-2">
                                <span>Payment Option</span>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control form-control-sm" formControlName="payment_method">
                                    <option value="card">Card</option>
                                    <option value="bank">Bank Account</option>
                                </select>
                            </div>
                            <ng-container *ngIf="form.get('payment_method').value == 'card'">
                                <div class="col-lg-2">
                                    <span>Name on card</span>
                                </div>
                                <div class="col-lg-3" formGroupName="card">
                                    <input type="text" class="form-control bg-white" placeholder="" formControlName="name">
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-row mx-0 my-3">
                            <ng-container formGroupName="card" *ngIf="form.get('payment_method').value == 'card'">

                                <div class="col-lg-12">
                                    <!-- <label for="">&nbsp;</label> -->
                                    <div class="bg-white px-3">
                                        <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions">
                                        </ngx-stripe-card>
                                    </div>
                                    <div class="mt-2" *ngIf="form.errors?.stripe" class="text-danger">
                                        {{ form.errors?.stripe}}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container formGroupName="account" *ngIf="form.get('payment_method').value == 'bank'">
                                <div class="col-lg-4">
                                    <label for="ahc" class="col-form-label">Account holder name</label>
                                    <input type="text" class="form-control bg-white" id="ahc"
                                        formControlName="account_holder_name">
                                </div>
                                <div class="col-lg-4">
                                    <label for="an" class="col-form-label">Account number </label>
                                    <input type="text" class="form-control bg-white" id="an" formControlName="account_number">
                                </div>
                                <div class="col-lg-4">
                                    <label for="rn" class="col-form-label">Routing number</label>
                                    <input type="text" class="form-control bg-white" id="rn" formControlName="routing_number"
                                        mask="09*.99" [patterns]="customPatterns">
                                </div>
                                <div class="col-lg-12">
                                    <div class="mt-2" *ngIf="form.errors?.stripe" class="text-danger">
                                        {{ form.errors?.stripe}}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"  *ngIf="showHideNewMethod">
                <div class="text-left manage">
                    <button type="submit" [disabled]="loadings.addPaymentMethod" class="btn btn-precipy v1">
                        <span *ngIf="loadings.addPaymentMethod">
                            <i class="fas fa-spinner fa-spin"></i> adding...
                        </span>

                        <span *ngIf="!loadings.addPaymentMethod">
                            Add
                        </span>
                    </button>
                    <button class="btn" type="button" (click)="showHideNewMethod = false">
                        cancel
                    </button>
                </div>
            </div>
            <div class="col-12 mx-auto mt-5 text-center" *ngIf="!showHideNewMethod">
                <a href="javascript:void(0)" (click)="showHideNewMethod = true" class="btn-precipy v3 w-100">
                    Add a new payment method
                </a>
            </div>
        </div>
    </form>

</div>