@import 'helpers';
@import 'variables';
@import 'components';


col-2{
  text-align: left;
}

.adjust{
  p{
    margin-top: 50px;

  }
}

.policies {
  padding: 2%;
  span {
    font-family: SFProText-Regular;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: $color-6;

    line-height: 17px;
    position: relative;
    left: 0px;
  }
}

.filtros{
  span{
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: right;

    /* colors/dark purple */

    color: #2F2E41;

  }
  select, .custom-input {
    background-color: transparent;
    color: $color-1;
    border: 1px solid $color-1;
    border-radius: 26.5px;
    margin: 0 10px;
    padding: 10px !important;

    // font-family: SF Pro Text;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */


/* colors/dark purple */

color: #2F2E41;

  }
}

.number{
  padding: 2% 1%;

  .bold{
    font-weight: 800 !important;
    color: $color-6 ;
  }

  span{
    margin: 0 11px;
    font-family: SFProText-Regular;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #2F2E41;
  }


}

.bold{
  font-weight: 700 !important;
  color: $color-6 ;

  &.v1{
    font-family: SFProText-Regular;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: #2F2E41;
  }
}

.txt-green{
  font-family: SFProText-Regular !important;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #57B894;
}
.txt-red{
  color: #BB3636;

}

.italic{
  font-family: SF_Pro_Text_Italic!important;

    }


    .gray{
      font-family: SFProText-Regular !important;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #707070 !important;
    }

.infos{
  padding: 2% 1%;
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  span{
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    /* colors/dark purple */

    color: #2F2E41;
    opacity: 0.6;
  }
}


.premium{
  // opacity: 0.15;
  border-left:1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  p{
    margin-top: 70px;
  // opacity: 1 !important;

  }

}

.cancel {
  &.hover{
    font-weight: 800;
  }
}


.payout-need button {
  background: $color-1
}