<div class="container-fluid">
  <div class="row">
      <div class="col-lg-6 col-md-12 text-left log">
          <div class="text-center my-2 py-4" *ngIf="reseted">
            <h3>Password changed</h3>
          </div>
          <form [formGroup]="form" *ngIf="!reseted">
              <h1 class="title" style="font-size:3em">
                  Change Your Password
              </h1>
              <div class="login form">
                <div>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Current password</mat-label>
                        <input matInput type="password" placeholder="enter your old password "  formControlName="current_password" autocomplete="current-password" >
                        <mat-hint *ngIf="form.get('current_password').errors?.fire" class="text-danger">
                            {{ form.get('current_password').errors.fire }}
                        </mat-hint>
                    </mat-form-field>
                </div>
                  <div>
                      <mat-form-field appearance="outline" class="w-100">
                          <mat-label>New password</mat-label>
                          <input matInput type="password" placeholder="Enter your new password"  formControlName="password" autocomplete="new-password" >
                          <mat-hint class="text-danger" *ngIf="password.errors?.fire ">
                            {{ password.errors.fire }}
                          </mat-hint>
                      </mat-form-field>
                  </div>
                  <div>
                      <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Confirm new password</mat-label> 
                          <input matInput type="password"  formControlName="confirm_password" autocomplete="new-password">
                          <mat-hint class="text-danger" *ngIf="errorSame">
                            The passwords are not matching
                          </mat-hint>
                      </mat-form-field>
                  </div>
                  <div>
                      <button class="btn btn-precipy v1" [disabled]="form.invalid || loading" (click)="changePassword()">
                        <ng-container *ngIf="loading">saving...</ng-container>
                        <ng-container *ngIf="!loading"> Save</ng-container>
                      </button>
                  </div>
              </div>
          </form>

      </div>
      <div class="col-lg-4 col-md-12 text-center">
          <div class="element mx-auto">
              <img src="./assets/icons/umbrella.png" alt="precipy-umbrella">
          </div>
      </div>
  </div>
</div>
