@import 'helpers';
@import 'variables';
@import 'components';

.policy {
  padding: 5% 0;

  .arrow {
    float: left;
    position: relative;
    left: 45px;
    transform: scale(1);
    transition: all (1s);

    &:hover {
      transform: scale(1.05);
      transition: all (500ms);
    }

  }

  .policy-number {
    span {
      font-family: SFProText-Regular;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #2F2E41;

    }
  }


  .download {


    span {
      text-decoration: none;
      color: $color-6;
    }
  }
}

.bold {
  font-weight: 600;
  color: $color-6;


}

.txt-green {
  span {
    color: #57B894;

  }
}

.margin-up{
  margin: 0 20px;
}

.adjust{
  img{
    position: relative;
    width: 6%;
    top: -5px;
  }

}

.weather {
  padding: 5%;

  h2 {
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.5px;

    color: $color-6;
  }

  h3 {
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 164.5%;

    color: #2F2E41;
  }

  img {
    border-radius: 12px;
  }

  agm-map {
    height: 400px;
    border-radius: 12px;
  }

  p {
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 164.5%;
    /* or 33px */


    color: #000000;
  }
}

.purchase {
  padding: 5%;

  h3 {
    font-family: Georgia-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-top: 40px;


    color: #353535;
  }

}

.line {
  position: relative;
  top: 10px;
  height: 2px;
  width: 93%;
  background-color: $color-1;
}

.box-white {
  background: #FFFFFF;
  padding: 5%;
  border-radius: 12px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  width: 100%;

}


.txt-green {
  font-family: SFProText-Regular !important;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #57B894;
}
