<div class="container-fluid" *ngIf="policy">
    <div class="row">
        <div class="col-12 mx-auto text-center policy">
            <div class="arrow">
                <a routerLink="/policies">
                    <img src="./assets/icons/arrow-back.png" alt="">
                </a>
            </div>
            <h1>
                Policy #{{ policy.PolicyNo }}
            </h1>
        </div>
    </div>
    <div class="row policy-number text-center mx-auto">
        <div class="col-lg-3 margin-up">
            <span>
                Policy Number
            </span>
            <span class="bold">
                #{{ policy.PolicyNo }}
            </span>
        </div>
        <div class="col-lg-3">
            <span>
                Status :
            </span>

            <ng-container *ngIf="helper.date(policy.ExpiryDate ).format() > helper.date().format() && policy.ProposalStatus == 3 && policy.PolicyStatus == 2">
                <span class="bold txt-green">
                    Upcoming
                </span>
                <button class="bold v1 cancel btn">
                    <ng-container >Cancel Policy</ng-container>
                </button>
            </ng-container>

            <ng-container *ngIf="policy.Claimed && !policy.BeneficiaryPayoutLast4">
                <span class="bold txt-red">
                    Pending
                </span>
                <small>
                    <img src="./assets/icons/alert.png" alt=""> Payout method needed.
                </small>
            </ng-container>
            

            <ng-container *ngIf="policy.ProposalStatus == 3 && policy.PolicyStatus == 3">
                Cancelled
            </ng-container>

            <ng-container *ngIf="helper.date(policy.ExpiryDate ).format() < helper.date().format() && policy.ProposalStatus == 3 && policy.PolicyStatus == 2 && !policy.Claimed">
                <span class="bold txt-red">
                    Expired
                </span>
            </ng-container>


            <ng-container *ngIf="policy.BeneficiaryPayoutLast4 && policy.Claimed">
                <span class="bold txt-green">
                    Paid Out
                </span>
            </ng-container>
        </div>
        <div class="col-lg-4 download text-right offset-1">
            <a class="bold adjust" href="javascript:void(0)">
                <img src="./assets/icons/download.png" alt="">
                Download here
            </a>
        </div>
    </div>
    <div class="line mx-auto">

    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12 weather ">
            <h2>
                Weather information
            </h2>
            <!-- <img src="./assets/photos/map.png" alt=""> -->
            <agm-map [latitude]="policy.PolicyLobList[0].PolicyRiskList[0].Latitude"
            [zoom]="13"
            [longitude]="policy.PolicyLobList[0].PolicyRiskList[0].Longitude">
            <agm-marker [latitude]="policy.PolicyLobList[0].PolicyRiskList[0].Latitude"
             [longitude]="policy.PolicyLobList[0].PolicyRiskList[0].Longitude"
             [label]="'Your place'"> </agm-marker>
            </agm-map>
            <h3 class="mt-5">
                Policy details
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit at
                consectetur quam velit eget nulla purus. Sit proin mauris, neque
                consectetur purus, sed. Malesuada lacus quis habitant aliquam fringilla
                amet gravida. Etiam tincidunt at laoreet donec dolor habitasse cras
                sollicitudin sit. Viverra nunc lorem urna massa non in diam egestas est.
                Leo rutrum euismod mattis vitae. Scelerisque lacus senectus eleifend
                quisque id massa felis. Habitasse tincidunt cras sagittis blandit urna,
                odio cursus. Porta at malesuada adipiscing sit. Libero mi varius tempus,
                eu quisque tincidunt magna diam.
            </p>
            <p>
                Quam feugiat sed id nunc, eu bibendum pharetra. Tellus tempus rhoncus
                nisl venenatis, ultricies ut morbi laoreet. In at faucibus non, velit a
                integer sed scelerisque. Et vulputate suspendisse amet eget pellentesque
                ac massa elit non. Tincidunt aliquam sed nibh eu porta porta ultrices
                purus orci. Mattis ut id quisque nibh. Penatibus neque ultrices purus
                phasellus consequat consectetur. Cras cras at vulputate volutpat eget
                sit. Scelerisque quis tempus diam vestibulum ac amet mauris. Porta nibh
                gravida sed in sed et. Libero ut dui enim justo.
            </p>
        </div>
        <div class="col-lg-4 col-md-12 purchase text-left">
            <div class="box-white">
                <div class="row">
                    <div class="col-12">
                        <h3>
                            Purchase Summary
                        </h3>
                        <div class="row">
                            <div class="col-8">
                                Policy Premium
                            </div>
                            <div class="col-4">
                                {{ policy.DuePremium | currency }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                Sales Tax
                            </div>
                            <div class="col-4">
                                {{ policy.TaxInterest | currency }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                Order Total
                            </div>
                            <div class="col-4">
                                {{ policy.TotalPremium | currency }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3>
                            Payment Method
                        </h3>
                        <div class="row">
                            <div class="col-12">
                                <span>
                                    <img src="./assets/icons/flag-card.png" alt="">
                                    Card ending in 1357
                                </span>
                                <p>
                                    John Smith  <br>

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3>
                            Policy Payout Method
                        </h3>
                        <div class="row">
                            <div class="col-12">
                                <span>
                                    <!-- <img src="./assets/icons/flag-card.png" alt="">
                                    Card ending in 1357 -->
                                    Bank account ending {{ policy.BeneficiaryPayoutLast4 }}
                                </span>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3>
                            Beneficiary
                        </h3>
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    {{ policy.BeneficiaryName }}
                                </p>
                                <p>
                                    {{ policy.BeneficiaryEmail }}
                                </p>

                            </div>

                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>
