@import 'helpers';
@import 'variables';
@import 'components';
@import 'material-ajusts';


.log{
  padding: 5%;
}


.element{
  position: relative;
    top: 40%;
  img{
    width: 95%;

  }
}

.mat-form-field {

  width: 70%;

}
