<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-12 text-left log mx-auto">
            <form [formGroup]="form" (submit)="register()">
                <h1 class="title">
                    Sign up with Precipy
                </h1>
                <span>
                    <small>
                        Already have an account?
                    </small>
                    <a href="javascript:void(0)" class="btn-sing orange-text"
                        [routerLink]="['/auth/login']">
                        Log in
                    </a>
                </span>
                <div class="login form">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="texte" autocomplete="name" placeholder="Enter your name" formControlName="name" required>
                       
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" autocomplete="email" placeholder="Enter your email" formControlName="email" required>
                            <mat-hint *ngIf="form.get('email').errors?.invalid" class="text-danger">
                                If we don’t have a valid email, how will we stay in touch?
                            </mat-hint>
                            <mat-hint *ngIf="form.get('email').errors?.already_has" class="text-danger">
                                This address email is already in use
                             </mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password"
                            autocomplete="new-password"
                            placeholder="Enter your password"
                            formControlName="password"
                            required
                            minlength="6">
                            <mat-hint class="text-danger" *ngIf="submited && !hasPassword">
                                We need a password please
                            </mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput type="password" autocomplete="confirm-password" placeholder="Enter your password" formControlName="confirm_password" required minlength="6">
                            <mat-hint class="text-danger"  *ngIf="form.get('confirm_password').errors?.noEqual">
                                That password doesn’t match the one above. Please take another look..
                            </mat-hint>
                        </mat-form-field>
                    </p>
                </div>
                <div class="row">
                    <div class="col-8">
                        <button  class="btn btn-precipy w-100" [disabled]="loading">
                           
                            <ng-container *ngIf="!loading"> Sign Up</ng-container>
                            <ng-container *ngIf="loading">registering...</ng-container>
                            
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-12 text-center">
            <div class="element mx-auto">
                <img src="./assets/icons/umbrella.png" alt="precipy-umbrella">
            </div>
        </div>
    </div>
</div>
