@import 'helpers';
@import 'variables';
@import 'components';

h2 {
  font-family: Georgia-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;
  color: $color-6;
}

p {
  font-family: SFProText-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin: 5% 0;
  line-height: 164.5%;
  color: $color-6;

}
