<div class="container-fluid">
  <div class="row">
    <div class="col-12 mx-auto text-center">
      <div class="empty">
        <div class="cover-element">
          <img src="./assets/icons/umbrella.png" alt="precipy-umbrella">
        </div>
        <div class="infos">
          <p>
            There’s nothing in your cart yet. That’s easy to fix though ...
          </p>
        </div>
        <div class="button mt-5">
          <a href="javascript:void(0)" class="btn-precipy" (click)="helper.toggleNav('nav')">
            Get a quote now
        </a>
        </div>
        <div class="button mt-5">
          <a href="javascript:void(0)" class="btn-precipy v3"routerLinkActive='active' routerLink='/home'>
            Explore our products
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
