@import 'helpers';
@import 'variables';
@import 'components';


.cover-element {
  padding: 7%;

  img {

    @include media-breakpoint-down(md) {
      width: 320px;
    }

    @include media-breakpoint-up(md) {
      width: 50%;
    }

    @include media-breakpoint-up(lg) {
      width: 50%;

    }
  }
}

.button {
  margin: 25px 0;

  a {
    padding: 15px 60px;

  }
}

p {
  font-family: SFProText-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
