<button type="button" class="close" (click)="dialogRef.close()">
    <span>&times;</span>
</button>
<div class="bg-gray">

</div>
<form [formGroup]="form" (submit)="save()">
    <mat-card class="shadow-none mx-4 edit-payment px-0">
        <mat-card-header>
            <mat-card-title>
                <h4 class="title-pop-up">Edit payment method</h4>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-row mt-4">
                <ng-container formGroupName="card" *ngIf="form.get('payment_method').value == 'card'">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" placeholder="Holder name"
                            formControlName="name">
                    </div>
                    <div class="col-lg-12 mt-3 ">
                        <!-- <label for="">&nbsp;</label> -->
                        <div class="bg-white px-3">
                            <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions">
                            </ngx-stripe-card>
                        </div>
                        <div class="mt-2" *ngIf="form.errors?.stripe" class="text-danger">
                            {{ form.errors?.stripe}}
                        </div>
                    </div>
                </ng-container>
                
                <ng-container formGroupName="account"
                    *ngIf="form.get('payment_method').value == 'bank'">
                    <div class="col-lg-4">
                        <label for="ahc" class="col-form-label">Account holder name</label>
                        <input type="text" class="form-control" id="ahc" formControlName="account_holder_name">
                    </div>
                    <div class="col-lg-4">
                        <label for="an" class="col-form-label">Account number </label>
                        <input type="text" class="form-control" id="an" formControlName="account_number">
                    </div>
                    <div class="col-lg-4">
                        <label for="rn" class="col-form-label">Routing number</label>
                        <input type="text" class="form-control" id="rn" formControlName="routing_number"
                            mask="09*.99" [patterns]="customPatterns">
                    </div>
                    <div class="col-lg-12">
                        <div class="mt-2"></div>
                        <div class="mt-2" *ngIf="form.errors?.stripe" class="text-danger">
                            {{ form.errors?.stripe}}
                        </div>
                    </div>
                </ng-container>
                <div class="col-12 mt-3">
                    <div class="form-group">
                        <button type="submit" [disabled]="loading"  class="btn btn-precipy v1 w-100">
                            <ng-container *ngIf="loading">saving...</ng-container>
                            <ng-container *ngIf="!loading"> Save</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>