@import 'helpers';
@import 'variables';
@import 'components';

.about-element {
  padding: 40% 5%;
}

.text-about {
  padding: 20% 10% 0 10%;
  text-align: left;

  h1 {
    font-family: Georgia-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    color: $color-6;
  }

  p {
    color: $color-6;
    font-family:SFProText-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 164.5%;

  }

}

.team-text {
  padding: 0 10%;
  text-align: left;
  margin: 0;

  h1 {
    font-family: Georgia-Bold;

    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    color: $color-6;
  }
}

.core-team {
  h4 {
    font-family: Georgia-Bold;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: $color-2;
  }

  .line-right {
    position: absolute;
    width: 455px;
    height: 0px;
    left: 851px;
    top: 160px;

    border: 1px solid $color-2;


  }

  .line-left {
    position: absolute;
    width: 455px;
    height: 0px;
    left: 134px;
    top: 160px;

    border: 1px solid $color-2
  }
}

.team-members {
  h4 {
    font-family: Georgia-Bold;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: $color-2;
  }

  .line-right {
    position: absolute;
    width: 390px;
    height: 0px;
    left: 970px;
    top: 160px;
    border: 1px solid $color-2;
  }

  .line-left {
    position: absolute;
    width: 390px;
    height: 0px;
    left: 74px;
    top: 160px;
    border: 1px solid #6CDFE0;
  }
}

.partners {
  h4 {
    font-family: Georgia-Bold;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: $color-2;
  }

  .line-right {
    position: absolute;
    width: 420px;
    height: 0px;
    left: 960px;
    top: 160px;
    border: 1px solid $color-2;
  }

  .line-left {
    position: absolute;
    width: 420px;
    height: 0px;
    left: 74px;
    top: 160px;
    border: 1px solid #6CDFE0;
  }
}

.ceo,
.coo {
  padding: 5%;

  h3 {
    font-family:SFProText-Regular;

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 164.5%;

    letter-spacing: -0.5px;
  }

  p,
  li {
    font-family:SFProText-Regular;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 164.5%;


    color: #2F2E41;

  }
}


.photo {
  background-color: #fff;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  box-shadow: -1px 0px 29px -2px rgba(0, 0, 0, 0.75);

  span {
    position: relative;
    top: 40%;
  }



}

.members {
  padding: 5%;
  h5 {
    font-family:SFProText-Regular;

    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 164.5%;
    color: #000;
    margin: 5% 0;
  }

  small {
    color: $color-1;
    font-family:SFProText-Regular;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 164.5%;
    letter-spacing: -0.5px;
  }

  p {
    font-family:SFProText-Regular;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 164.5%;
  }
}

.ilustration{
  padding: 0 0 150px 0;
  img{
    position:  absolute;
    right: 0;

  }

}
