<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="text-about" id="story">
        <h1>
          Our Story
        </h1>
        <p class="mt-3">
          Precipy founders Paramesh Iyer, Kris Monaco, and Corey Villani come
          from unique corners of the engineering, insurance, and financial
          services industries, but they share a common passion: simplifying the
          complex. That philosophy began 30 years ago, when Paramesh and Kris
          studied and practiced engineering together, but stayed with them
          throughout their careers. Fast-forward to present day, where the
          founders’ combined expertise has come together to simplify how we
          protect ourselves against the most common risk in our everyday lives:
          bad weather.
        </p>
        <p>
          Insurance can be complicated and overwhelming for customers, but it
          doesn’t have to be. In fact, it can be as simple as buying anything
          else online. Precipy was built to make it easy for individuals and
          businesses to purchase insurance protection. No forms, no lingo, no
          wait. Peace of mind is just a few clicks away.
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 text-center mx-auto">
      <div class="about-element px-0">
        <img src="./assets/icons/umbrella-blue.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="team-text" id="team">
        <h1>
          Our team <br>
          & our partners
        </h1>
      </div>
    </div>
    <div class="col-lg-6">

    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mx-auto">
      <img src="./assets/logos/precipy-logo-black.svg" alt="">
      <div class="core-team">
        <div class="line-left">

        </div>
        <h4 class="mt-5">
          The Core Team
        </h4>
        <div class="line-right">

        </div>
      </div>
    </div>
  </div>
  <div class="row ceo">
    <div class="col-lg-4 col-md-12 text-center">
      <div class="photo text-uppercase mx-auto">
        <span>
          Photo <br>
          Here
        </span>

      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="text-ceo">
        <h3>
          Paramesh Iyer, CEO
        </h3>
        <p>
          20+ years of insurance and consulting experience working with and for
          leading regional, national and global institutions.
        </p>
        <p>
          Previous Insurance Roles Include (at AIG):
        </p>
        <ul class="px-0">
          <li>
            Global Strategy Officer
          </li>
          <li>
            Global Operations Executive
          </li>
          <li>
            Global Head of Multinational & Fronting
            Operations
          </li>
          <li>
            Director, Management Consulting
          </li>
        </ul>


      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="text-ceo">
        <p>
          In-depth global knowledge of core insurance businesses – both on the
          front and back end of the insurance lifecycle.
        </p>
        <p>
          Mr. Iyer was educated at The Cooper Union, Harvard University and New
          York University – with a MBA in Finance and ME/BE in Engineering.
        </p>
      </div>
    </div>
  </div>
  <div class="row coo">
    <div class="col-lg-4 col-md-12">
      <div class="text-coo mx-auto">
        <img src="./assets/icons/question.png" alt="">
        <h3>
          Joining soon, COO
        </h3>
        <p>
          Shhh! We can’t say who just yet, but we have an awesome candidate with
          insurance IT and operations experience
        </p>

      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="text-coo">
        <img src="./assets/icons/question.png" alt="">

        <h3>
          Joining soon, COO
        </h3>
        <p>
          Shhh! We can’t say who just yet, but we have an awesome candidate with
          insurance IT and operations experience
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="text-coo">
        <img src="./assets/icons/question.png" alt="">

        <h3>
          Joining soon, COO
        </h3>
        <p>
          Shhh! We can’t say who just yet, but we have an awesome candidate with
          insurance IT and operations experience
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mx-auto">
      <img src="./assets/logos/precipy-logo-black.svg" alt="">
      <div class="team-members">
        <div class="line-left">

        </div>
        <h4 class="mt-5">
          Additional Team Members
        </h4>
        <div class="line-right">

        </div>
      </div>
    </div>
  </div>
  <div class="row members">
    <div class="col-lg-3 col-md-12 text-center">
      <div class="photo text-uppercase mx-auto">
        <span>
          Photo <br>
          Here
        </span>

      </div>
      <div class="text-member text-center">
        <h5>
          Dr. Satyajit Bose
        </h5>
        <small>
          Actuarial Advisory
        </small>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Platea cursus
          mauris diam euismod porta sed molestie commodo.
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 text-center">
      <div class="photo text-uppercase mx-auto">
        <span>
          Photo <br>
          Here
        </span>

      </div>
      <div class="text-member text-center">
        <h5>
          Dr. Michael Puma
        </h5>
        <small>
          Actuarial Advisory
        </small>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Platea cursus
          mauris diam euismod porta sed molestie commodo.
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 text-center">
      <div class="photo text-uppercase mx-auto">
        <span>
          Photo <br>
          Here
        </span>

      </div>
      <div class="text-member text-center">
        <h5>
          Perr&Knight
        </h5>
        <small>
          Actuarial
        </small>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Platea cursus
          mauris diam euismod porta sed molestie commodo.
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 text-center">
      <div class="photo text-uppercase mx-auto">
        <span>
          Photo <br>
          Here
        </span>

      </div>
      <div class="text-member text-center">
        <h5>
          Perr&Knight
        </h5>
        <small>
          Compliance/State Filings
        </small>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Platea cursus
          mauris diam euismod porta sed molestie commodo.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mx-auto">
      <img src="./assets/logos/precipy-logo-black.svg" alt="">
      <div class="partners" id="partners">
        <div class="line-left">

        </div>
        <h4 class="mt-5">
          Strategic Partners
        </h4>
        <div class="line-right">

        </div>
      </div>
    </div>
  </div>
  <div class="row members">
    <div class="col-lg-3 col-md-12 text-center mx-auto">
      <img src="./assets/logos/ebao-logo.png" alt="">
    </div>
    <div class="col-lg-3 col-md-12 text-center">
      <img src="./assets/logos/v-logo.png" alt="">
    </div>
    <div class="col-lg-3 col-md-12 text-center">
      <img src="./assets/logos/giant-logo.png" alt="">
    </div>
    <div class="col-lg-3 col-md-12 text-center">
      <img src="./assets/logos/ibm-logo.png" alt="">
    </div>

  </div>


</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="ilustration">
        <img src="./assets/icons/puddle-big.png" alt="">
      </div>
    </div>
  </div>
</div>
