@import 'helpers';
@import 'variables';
@import 'material-ajusts';



.bg-default {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-ice {
  background-color: #FFF3EC;
}

.bg-gray{
  // background-color: rgba(235, 235, 235, 0.6);
  background-color: #E0E0E0;

}

.bg-soft-gray{
  // background-color: rgba(235, 235, 235, 0.6);
  background-color: rgba(235, 235, 235, 0.4);

}
.bg-orange{
  background-color:  #F9D38A;
}

.bg-black {
  background-color: black;
}

.btn-precipy {

  // font-family:NHaasGroteskTXPro-75Bd;
    border: 2px solid $color-1;
    border-radius: 30px;
    color: white;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background:$color-1;
    font-family: SFProText-Regular;


    &:hover {
        background-color: transparent;
        color: $color-1;
    }


    &:disabled {
        cursor: default !important;
        opacity: 0.3;
    }

  &.v1 {
    background: transparent;
    color: $color-6;
    border: 2px solid $color-6;
    text-decoration: none;
    padding: none;

    &:hover {
      background-color: $color-6;
      color: white;

    }



  }

  &.v2 {
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 0.8em;

    &:hover {
      color: white;
      background: $color-1;
      border: 2px solid $color-1;
    }

  }

  &.v3 {

    padding: 15px 60px;
    color: $color-1;
    background-color: transparent;
    border: 1px solid $color-1;
    text-decoration: none;
    &:hover {
      color: white;
      background: $color-1;
      border: 2px solid $color-1;
    }

  }

  &.v4 {
    padding: 15px 100px;

  }

  &.v5 {
    border-radius: none;
    color: $color-6;
    background-color: transparent;
    border: none;
    text-decoration: underline ;

  }

  &.v6{
    padding: 8px 65px;

  }

}

// .btn-sign {

//   // font-family:NHaasGroteskTXPro-75Bd;

//     border-radius: 30px;
//     color: $color-1;

//     text-decoration: none;
//     font-size: 1em;
//     letter-spacing: 1px;


//   }

.fsmaller {
  font-size: 0.7em;
}

.fsmall {
  font-size: 1em;
}

.fregular {
  font-size: 1.8em;
}

.fbig {
  font-size: 2.8em;
}

.fbigger {
  font-size: 4.3em;
}




.title {
  font-family: Georgia-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 80px;
  color:  $color-6;
  &.v1 {
    color:  $color-1;
  }

  &.v2 {
    @extend .v1;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 2em;
  }

  &.v3 {
    color: $color-1;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 2em;
    // font-family: Nunito-Bold;
  }

  &.v4 {
    color: white;
    letter-spacing: 1px;
    line-height: 1.5em;
    // font-family: Nunito-Bold;
    font-size: 3.5em;
  }
}

.orange-text{
  color: $color-1;
}
