@import 'helpers';
@import 'variables';


// .form {

//   &.register,
//   &.dark {
//     .mat-form-field-appearance-legacy .mat-form-field-underline {
//       background-color: $color-1;
//     }

//     .mat-form-field-appearance-legacy .mat-form-field-label {
//       color: $color-1;
//       font-family: TitilliumWeb-Regular;
//     }

//     .mat-select-value {
//       color: $color-1;
//       font-family: TitilliumWeb-Regular;
//     }
//   }

//   &.dark {
//     .mat-input-element {
//       color: black !important;
//       font-family: TitilliumWeb-Regular !important;
//       background-color: transparent;
//       border: 1px solid $color-1;
//     }
//   }
// }

// .form.budget {
//   .mat-form-field-appearance-legacy .mat-form-field-underline {
//     background-color: #8D8D8D;
//   }

//   .mat-form-field-appearance-legacy .mat-form-field-label {
//     color: #8D8D8D;
//     font-family: TitilliumWeb-Regular;
//   }

//   .mat-input-element {
//     color: black !important;
//     font-family: TitilliumWeb-Regular !important;
//     background-color: transparent;
//   }

//   mat-datepicker-content {
//     background-color: white;
//     color: #707070;
//   }

//   .mat-select-value {
//     color: #8D8D8D;
//     font-family: TitilliumWeb-Regular;
//   }
// }

// .example-full-width {
//   width: 100%;
// }

// .mat-form-field-infix{
//   width: auto;
// }

// .mat-dialog-container {
//   background: white
// }

// cdk-step {
//   mat-radio-group {
//     color: #707070;
//     font-family: TitilliumWeb-Regular;
//   }
// }


// mat-accordion.custom {
//   mat-expansion-panel {
//     background: transparent !important;
//     border: none !important;
//     box-shadow: none !important;

//     mat-panel-title {
//       // font-family: SF Pro Text;
//       font-style: normal;
//       font-weight: 400;
//       font-size: 20px;
//       line-height: 164.5%;
//       letter-spacing: -0.5px;
//       color: $color-1;
//     }
//     mat-panel-description{
//       // font-family: SF Pro Text;
//       font-style: normal;
//       font-weight: normal;
//       font-size: 15px;
//       line-height: 164.5%;
//       color: $color-6;
//     }

//     mat-expansion-panel-header {
//       img {
//         transition: all 1s;
//       }
//       &.mat-expanded img {
//         transform: rotate(180deg);
//         transition: all 500ms;
//       }
//     }

//   }

//   .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
//     background: none;
//   }


// }

// .hiper-responsive {
//   table {
//     width: 100%;
//   }

//   @media screen and (max-width: 750px) {

//     .mat-table,
//     table {
//       border: 0;
//       padding: 5px 15px 15px 15px;
//     }

//     .mat-table caption {
//       font-size: 1.3em;
//     }

//     .mat-table .mat-header-row,
//     table thead tr {
//       border: none;
//       clip: rect(0 0 0 0);
//       height: 1px;
//       margin: -1px;
//       overflow: hidden;
//       padding: 0;
//       position: absolute;
//       width: 1px;
//     }

//     .mat-table .mat-row,
//     table tr {
//       border: 1px solid #ddd;
//       border-bottom-width: 3px;
//       display: block;
//       margin: .625em 2px;
//       padding: 0.35em;
//       height: auto;
//       // box-shadow: 0px 18px 21px -17px rgba(0,0,0,0.57);
//     }

//     .mat-table .mat-cell,
//     table td {
//       border-bottom: 1px solid #ddd;
//       background: #f8f8f8;
//       display: block;
//       font-size: .8em;
//       text-align: right;
//       padding: 0.625em;
//       min-height: auto;

//       &:last-of-type {
//         border-bottom: none;
//       }
//     }

//     .mat-row:nth-child(even) .mat-cell,
//     tr:nth-child(even) th {
//       background: rgba(145, 151, 187, 0.34)
//     }

//     .mat-cell:first-of-type,
//     mat-footer-cell:first-of-type,
//     mat-header-cell:first-of-type {
//       padding-left: 0.625em;
//     }

//     .mat-footer-row::after,
//     .mat-header-row::after,
//     .mat-row::after {
//       content: none;
//     }


//     .mat-table .mat-cell::before,
//     table td::before {
//       content: attr(data-label);
//       float: left;
//       // margin-left: 10px;
//       // margin-top: 5px;
//       font-weight: bold;
//       text-transform: uppercase;
//     }

//     table td:last-child {
//       border-bottom: 0;
//     }
//   }
// }

// .mat-form-field-appearance-outline .mat-form-field-outline {
//   background-color: rgba($color: #fff, $alpha: 0.3);
//   border-radius: 10px;
// }


.mat-expansion-panel {
  background: none;
  border: none;
  box-shadow: none;

}

.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]),
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]),
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  background: none !important;
}

.nav-quote,
.form-pop {

  .mat-form-field-appearance-outline .mat-form-field-outline {
    border: 2px solid #BBDBDB !important;
    border-radius: 0 !important;
    min-width: 3px !important;
    background: white;
    // max-height: 40px;
    // min-height: ;
    // height: 50px !important;
  }




  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    display: none !important;

  }

  .mat-select-arrow-wrapper {
    display: none;
  }


  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    color: #6CDFE0;
  }


  form {
    select {
      .mat-input-element {
        // caret-color: yellow !important;
        color: #6CDFE0 !important;
        position: relative;
        top: -3px;
      }
    }

  }

  .mat-slider-horizontal {
    height: 48px;
    min-width: 180px;
  }


  .coverage {

    .mat-accent .mat-slider-track-fill,
    .mat-accent .mat-slider-thumb,
    .mat-accent .mat-slider-thumb-label {
      background-color: #29E2E2 !important;
    }


    .mat-accent .mat-slider-track-fill,
    .mat-accent .mat-slider-thumb,
    .mat-accent .mat-slider-thumb-label {
      background-color: #29E2E2 !important;

    }
  }

  .precip {

    .mat-accent .mat-slider-track-fill,
    .mat-accent .mat-slider-thumb,
    .mat-accent .mat-slider-thumb-label {
      background-color: #FFC107 !important;
    }



    .mat-accent .mat-slider-track-fill,
    .mat-accent .mat-slider-thumb,
    .mat-accent .mat-slider-thumb-label {
      background-color: #FFC107 !important;

    }
  }

  .mat-form-field-infix {
    width: 100%;
  }








  .mat-input-element {
    color: black !important;
    font-family: SFProText-Regular !important;
    background-color: transparent;
    // border: 1px solid $color-1;
  }

}

.mat-dialog-container {
  background: #F6FAFD !important;
  border-radius: 0px;
}
