@import 'helpers';
@import 'variables';
@import 'components';
@import 'material-ajusts';




.terms {
  padding: 10%;

  a {
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: bold;
    color: $color-6;
  }
}

.txt-privacy {
  margin: 5% 0;
  a {
    text-decoration: none;
    color: $color-6;
    top: 30%;
    position: relative;
  }
  padding-bottom: 15px;

}

.txt-privacy {
  &::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 0%;
    width: 100%;
    height: 8px;
    background-color: trasparent;

  }

  &.active{
    background-color: white;
    height: 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: $color-1 !important;

    // width: 80%;
  }

  &.active::after {
    background-color: $color-1;

  }
}

.element-1 {
  img {
    opacity: 0.5;

    // transform: rotate(50deg);
  }
}
