<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center mx-auto ">
            <div class="row">
                <div class="col-lg-12 col-md-12 bg terms">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mx-auto banner">
                            <h1 class="title">
                                My Policies
                            </h1>
                            <div class="row txt-titulo txt-titulo-banner ">

                                <div class="col-lg-3 col-md-6 txt-privacy txt-b txt-img" [routerLink]="['/policies','upcoming']"
                                    routerLinkActive="active">
                                    <a href="javascript:void(0)"> Upcoming ({{ options.upcoming.count }}) </a>
                                </div>
                                <div class="col-lg-3 col-md-6 txt-privacy txt-b txt-img"
                                    [routerLink]="['/policies','rained-or-snowed']" routerLinkActive="active">
                                    <a href="javascript:void(0)"> It rained or snowed ({{ options['rained-or-snowed'].count }}) <img
                                            src="./assets/icons/alert.png" alt=""> </a>
                                </div>
                                <div class="col-lg-3 col-md-6 txt-privacy txt-b txt-img" [routerLink]="['/policies','cancelled']"
                                    routerLinkActive="active">
                                    <a href="javascript:void(0)"> Cancelled ({{ options['cancelled'].count }}) </a>
                                </div>
                                <div class="col-lg-3 col-md-6 txt-privacy txt-b txt-img" [routerLink]="['/policies','all']"
                                    routerLinkActive="active">
                                    <a href="javascript:void(0)"> All ({{ options.all.count }}) </a>
                                </div>
                            </div>
                            <app-item [policies]="policies" [conf]="option" (canceledTrigger)="addCanceled($event)" [cleanFilters]="cleanFilters" ></app-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>