/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 8px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  text-align: left;
  position: absolute;
  background: #3C6464;
    opacity: 0.9;
    border-radius: 16px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color:white;
  font-size: 10px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family:SFProText-Regular ;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background: #3C6464;
  opacity: 0.9;
  border-radius: 16px;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
// .dropdown:hover .dropbtn {background: #3C6464;
//   opacity: 0.9;
//   border-radius: 16px;}

.range-n{
  display: inline-block;
  font-family: SFProText-Regular;
  color: #707070;
  .min{
    float: left;
    margin: 0 110px 0 0px;
  }
  .max{
    float: right;
  }

}


.confirmPrice{
  .right{
    span{
      font-family: Georgia-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    }
  }
}

.in{
  position: relative;
  top: -15px;
  left: 30px;
}

// .any{
//   position: absolute;
//   top: -15px;
//   left: 30px;
// }




// .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
// .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
//   /* display: block; */
//   /* width: 1.5em; */
//   position: relative;
//   /* height: 1.5em; */
//   top: -7px;

// }
