<div class="menu-1" id="menu" [ngClass]="{'show': helper.navOpen}">
  <div class="menu-list text-center">
    <form [formGroup]="form" (submit)="save()">
      <!-- <div class="loading" *ngIf="loading.creating">

            </div> -->
      <header class="text-center">
        <a class="close-menu" href="javascript:void(0)" (click)="helper.toggleNav()">
          <img src="./assets/icons/close.svg" alt="x">
        </a>
        <h3 class="mt-5">
          Get a quote for <span class="orange-text"> <br>
            {{ helper.quoteCategory.name }}
          </span>
        </h3>
        <img class="element" src="./assets/icons/mini-business-travel.svg" alt="">
      </header>
      <div class="row mx-0">
        <div class="col-10 mx-auto text-left bg-quote">
          <div class="title-quote">
            <h2>
              01
              <span>
                Choose a time & place
              </span>
            </h2>
          </div>
          <div class="section-one text-left">
            <div class="inputs" formGroupName="step1">
              <div class="form-row">
                <div class="col-12">
                  <label for="">Where?</label> <br>
                  <input type="text" class="form-control" #searchInput formControlName="AddressMaps" autocomplete="off"
                    (keyup)="maps.searchCity(searchInput)" id="exampleInputtext" placeholder="Search for a location...">
                </div>
              </div>
              <div class="form-row mt-2">
                <div class="col-12">
                  <label for="">Which day?</label> <br>

                  <div class="form-row">
                    <div class="col-lg-4 ">
                      <label for="">From...</label>
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label></mat-label>
                        <input matInput [satDatepicker]="picker" autocomplete="off" placeholder="choose from date"
                          [min]="minDateWhere" formControlName="EffectiveDate" (dateChange)="selectDate($event)"
                          (focus)="picker.open()">
                        <sat-datepicker #picker [rangeMode]="false">
                        </sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-2 pt-3 mt-3 ">

                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label></mat-label>
                        <select matNativeControl formControlName="EffectiveTime" class="hours"
                          placeholder="choose the time">
                          <!-- <option value="" > start time</option> -->
                          <option *ngFor="let hour of hours; let idx = index" [value]="idx"> {{ hour.publicTime }}
                          </option>
                        </select>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-4 ">
                      <label for="">Until...</label>
                      <mat-form-field class="w-100" appearance="outline">
                        <input matInput [satDatepicker]="picker1" placeholder=""
                          [min]="step1Form.get('EffectiveDate').value" [max]="maxDateWhere" autocomplete="off"
                          formControlName="ExpiryDate" (focus)="picker1.open()"
                          [readonly]="!step1Form.get('EffectiveDate').value">
                        <sat-datepicker #picker1 [rangeMode]="false">
                        </sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker1">
                        </sat-datepicker-toggle>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-2  pt-3 mt-3 ">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label></mat-label>
                        <select matNativeControl formControlName="ExpiryTime" class="hours"
                          placeholder="choose until time">
                          <!-- <option value="" >end time</option> -->
                          <option *ngFor="let hour of hours; let idx = index" [value]="idx"> {{ hour.publicTime }}
                          </option>
                        </select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]="{'disabled-all': step1Form.invalid}">

            <div class="title-quote">
              <h2>
                02
                <span>
                  How much should you get if it rains?
                </span>
              </h2>
            </div>
            <div class="section-two text-left">
              <div class="less-more mx-auto">
                <span>
                  {{ sumInsured.value | currency }}
                </span>
                <div class="btns">
                  <button type="button" (click)="plusCoverage()" class="btn" [disabled]="sumInsured.value > 999">
                    More
                  </button>
                  <button type="button" (click)="lessCoverage()" class="btn" [disabled]="sumInsured.value< 200">
                    Less
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div [ngClass]="{'disabled-all': !quote}">
            <div class="title-quote">
              <h2>
                03
                <span>
                  Confirm your price
                </span>
              </h2>
            </div>
            <div class="text-center confirmPrice" *ngIf="actionPrice == 0">
              <div class="left">
                <h3 class="adjust-for" *ngIf="currentIntensity()"> For {{ currentIntensity().Description }} <div class="dropdown any v1 mt-2">
                  <img class="dropbtn" src="./assets/icons/question-blue.png" alt="">
                  <div class="dropdown-content">
                    <p>
                      Any rain means just that, any rain at all over the course of the day.
                    </p>
                  </div>
                </div></h3>
                <h3 *ngIf="!currentIntensity()">Not Informed
                  <div class="dropdown any v1 mt-2">
                    <img class="dropbtn" src="./assets/icons/question-blue.png" alt="">
                    <div class="dropdown-content">
                      <p>
                        Any rain means just that, any rain at all over the course of the day.
                      </p>
                    </div>
                  </div>
                </h3>

                <span class="bottom">If a
                  {{ currentIntensity()?.Description }}
                  is okay, <strong (click)="actionPrice= 1; getOptions()">click here</strong> to see
                  some
                  cheaper
                  options.</span>
              </div>
              <div class="right">
                <span class="value">{{ quote?.DuePremium | currency }}</span>
              </div>
            </div>

            <div class="text-center confirmPrice" *ngIf="actionPrice == 1">
              <div class="content">
                <ul>
                  <ng-container *ngFor="let rainItensity of rainItensities">
                    <li *ngIf="rainItensity.Description !== 'Custom Rain'">
                      <div class="contentPrice "
                        [ngClass]="{'active': coverageForm.value.RainIntensity == rainItensity.Code}"
                        (click)="quote = optionsQuote[rainItensity.Code]; chooseQuote(el)" #el>
                        <h3>{{ optionsQuote[rainItensity.Code]?.DuePremium | currency }}</h3>
                        <span>For {{ rainItensity.Description }} </span>
                        <div class="loading item" *ngIf="loading[rainItensity.Code]">
                          loading...
                        </div>
                      </div>
                      <div class="dropdown mt-2">
                        <img class="dropbtn" src="./assets/icons/question-blue.png" alt="">
                        <div class="dropdown-content">
                          <p>
                            Any rain means just that, any rain at all during the time you choose.
                          </p>
                        </div>
                      </div>
                      <!-- <img class="dropdown mt-4" src="./assets/icons/question-blue.png" alt="">
                                            <div class="dropdown-menu">
                                              <p>
                                                lorem ipsum
                                              </p>
                                            </div> -->
                    </li>
                  </ng-container>
                </ul>
                <div class="contentInfo text-left mt-5">
                  <span>Still want more control? <strong style="cursor: pointer;" (click)="actionPrice=2">Choose your
                      own
                      price.</strong></span>
                </div>
              </div>
            </div>
            <div class="text-center confirmPrice two" *ngIf="actionPrice == 2">
              <div class="content">
                <div class="price bg-black text-center">
                  Name your price <input type="text" placeholder="15,99" autocomplete="off">
                </div>
                <div class="text-price mt-4">
                  <p>
                    Slide to adjust either coverage or precipitation amount. The
                    other will balance appropriately to maintain your named
                    price
                  </p>
                </div>
                <div class="row range mx-auto">
                  <div class="col-6 coverage mx-auto rangee-item ">
                    <h6 class="adjust">
                      Coverage
                    </h6>
                    <br />
                    <h2>
                      $200,00
                    </h2>
                    <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="10" min="100" max="1000">
                    </mat-slider>
                    <div class="range-n">
                      <div class="min">
                        $100
                      </div>
                      <div class="max">
                        $1000
                      </div>
                    </div>
                  </div>
                  <div class="col-6 precip mx-auto rangee-item ">
                    <h6>
                      Precipitation Amount

                    </h6>
                    <h2 class="adjust-number">
                      0.4in <div class="dropdown">
                        <img class="dropbtn" src="./assets/icons/question-blue.png" alt="">
                        <div class="dropdown-content">
                          <p>
                            How much rain should fall before we pay you? This could be heavy rain for a short time or
                            lighter rain for longer. If you need protection against short, heavy showers over a day,
                            consider multiple shorter policies instead of one long one.
                          </p>
                        </div>
                      </div>
                    </h2>

                    <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="0.1" min="0.1" max="10.0">
                    </mat-slider>
                    <div class="range-n">
                      <div class="min">
                        0.1in
                      </div>
                      <div class="max">
                        10.0in
                      </div>
                    </div>

                  </div>
                </div>

                <div class="contentInfo">
                  <span><strong (click)="actionPrice= 1; getOptions()">Back to standard
                      price choices.</strong></span>
                </div>
              </div>
            </div>
          </div>

          <div class="text-left change mt-5" *ngIf="!another_beneficiary.value">
            <a href="javascript:void(0)" (click)="another_beneficiary.next(true)">
              <strong>
                <span>
                  If this policy pays out, you get paid. <br>
                </span>
                Change the beneficiary, or give this policy as a gift
              </strong>
            </a>
          </div>
          <span *ngIf="another_beneficiary.value">
            <div class="title-quote">
              <h2>
                04
                <span>
                  Who should get paid if it rains
                </span>
              </h2>
            </div>
            <div class="section-one text-left" formGroupName="Beneficiary">

              <div class="inputs">
                <div class="form-row">
                  <div class="col-6">
                    <label for="exampleInputEmail2">Full Name</label> <br>
                    <input type="text" formControlName="BeneficiaryName" class="form-control" id="exampleInputEmail2"
                      aria-describedby="name" placeholder="Enter beneficiary’s full name">

                  </div>
                  <div class="col-6">
                    <label for="">Email</label>
                    <input type="email" formControlName="BeneficiaryEmail" class="form-control" id="exampleInputEmail1"
                      aria-describedby="emailHelp" placeholder="Enter beneficiary’s email">
                  </div>

                </div>
                <div class="form-row">

                  <div class="col-12">
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Gift Note</label>
                      <textarea class="form-control" formControlName="BeneficiaryMessage"
                        placeholder="(Optional) Enter a message for the beneficiary" id="exampleFormControlTextarea1"
                        rows="3"></textarea>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="text-left change mt-5">
              <a href="javascript:void(0)" (click)="another_beneficiary.next(false)">
                <strong>
                  Change beneficiary back to yourself
                </strong>
              </a>
            </div>
          </span>
          <div class="mx-auto text-center buttons">
            <ng-container *ngIf="!edit">
              <button type="submit" (click)="redirect= true" class="mx-auto" style="padding: 8px 50px;"
                [disabled]="form.invalid || loading.creating" class="btn btn-precipy">
                <span *ngIf="loading.creating">Calculating...</span>
                <span *ngIf="!loading.creating">Checkout</span>
              </button>

              <button type="submit" class="btn btn-precipy v1" [disabled]="form.invalid || loading.creating">
                Add to cart & start new quote
              </button>
            </ng-container>
            <ng-container *ngIf="edit">
              <button type="submit" [disabled]="form.invalid || loading.creating" class="btn btn-precipy">

                <span *ngIf="loading.creating">Calculating...</span>
                <span *ngIf="!loading.creating">Save</span>
              </button>

              <button type="button" (click)="helper.toggleNav(); cart.editIdx = null" class="btn btn-precipy v1">
                cancel
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
