<div class="account">
    <h1>
        My Account
    </h1>
    <div class="personal">
        <h3>
            Beneficiary List
        </h3>

        <div class="row overflow-hidden" *ngFor="let user of beneficiaries; let idx = index" >
            <div class="col-lg-12 item-beneficiary" [ngClass]="{'editing': idx == editIdx}">
                <form [formGroup]="form" >
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="beneficiary list">

                                <span class="float-right">
                                    <label>Email</label>
                                    <input type="text"  *ngIf="idx == editIdx" formControlName="BeneficiaryEmail" >
                                    <input type="text" *ngIf="idx != editIdx" [value]="user.individual.email" readonly>
                                </span>
                                <span class=" float-left">
                                    <label>Full Name</label>
                                    <input type="text" *ngIf="idx == editIdx" formControlName="BeneficiaryName">
                                    <input type="text" *ngIf="idx != editIdx" [value]="user.individual.first_name" readonly>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 text-left manage">
                            <a href="javascript:void(0)" (click)="edit(idx)" *ngIf="idx != editIdx">
                                <img src="./assets/icons/edit.png" alt=""> Edit


                            </a>
                            <button (click)="save(idx)" *ngIf="idx == editIdx" class="btn btn-precipy v1" [disabled]="loading.editing">
                                <ng-container *ngIf=" loading.editing">
                                    Saving...
                                </ng-container>
                                <ng-container *ngIf="!loading.editing">
                                    Save
                                </ng-container>
                            </button>
                            <button (click)="delete(idx)" type="button" class="btn" [disabled]="deleteIdx == idx && loading.deleting">
                                <ng-container *ngIf="deleteIdx == idx && loading.deleting">Deleting...</ng-container>
                                <ng-container *ngIf="deleteIdx != idx && !loading.deleting">
                                    <img src="./assets/icons/delete.png" alt=""> Delete
                                </ng-container>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row overflow-hidden" *ngIf="new">
            <div class="col-lg-12">
                <h5>New beneficiary</h5>
            </div>
            <div class="col-lg-12 item-beneficiary new">
                <form [formGroup]="formNew" (submit)="addNew()">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="beneficiary">
                                <span class=" float-left">
                                    <mat-form-field>
                                        <mat-label>Full Name</mat-label>
                                        <input matInput placeholder="enter here..." formControlName="BeneficiaryName">
                                    </mat-form-field>
                                </span>
                                <span class="float-right">
                                    <mat-form-field>
                                        <mat-label>Email</mat-label>
                                        <input matInput type="email" placeholder="enter here..." formControlName="BeneficiaryEmail">
                                    </mat-form-field>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 text-left manage">
                            <button  type="submit" [disabled]="formNew.invalid || loading.adding" class="btn btn-precipy v1">
                                <ng-container *ngIf="loading.adding">Adding..</ng-container>
                                <ng-container *ngIf="!loading.adding">Add</ng-container>
                            </button>
                            <button type="button" [disabled]="loading.adding" (click)="new = false" class="btn ml-2">
                                cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!new">
        <div class="col-12 mx-auto mt-5 text-center">
            <a href="javascript:void(0)" (click)="new = true" class="btn-precipy v3 w-100" >
                Add a new beneficiary
            </a>
        </div>
    </div>

</div>
