@import 'helpers';
@import 'variables';
@import 'components';

.account {
  padding: 50px 15px;

  .personal {
    h1 {
      font-family: Georgia;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 34px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: center;

      /* colors/dark purple */

      color: #2F2E41;
    }

    h3 {
      // font-family: SF Pro Text;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 164.5%;
      /* identical to box height, or 23px */

      text-align: left;
      letter-spacing: 2px;
      text-transform: uppercase;

      color: #000000;

      opacity: 0.6;
    }
  }

  .beneficiary {
    // padding: 30px 10px;
    border: 1px solid $color-1;
    box-sizing: border-box;
    border-radius: 12px;
    min-height: 60px;
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;

    &.list {
      label {
        // font-family: SF Pro Text;
        font-style: normal;
        font-weight: 500;
        margin: 0 10px;
  
        font-size: 14px;
        /* identical to box height, or 23px */
  
        display: flex;
        align-items: center;
  
        /* precipy/highlight */
  
        color: #F79256;
      }
  
      input {
        background: none;
        border: none;
        // font-family: SF Pro Text;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        /* identical to box height */
  
        display: flex;
        align-items: center;
  
        /* colors/dark purple */
  
        color: #2F2E41;
  
      }
    }

    
  }
}

.manage {
  a {
    color: $color-6;
    // font-family: SF Pro Text;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;

    img {
      margin: 10%;
    }
  }
}


.item-beneficiary {
  transform: scale(1);
  transition: 500ms;
}
.editing {
  transform: scale(1.01);
  transition: 500ms;
  
  .beneficiary  {
    border-color: $color-2;
    label {
      color: $color-2;;
    }
  }
  
}

.new {
  .beneficiary  {
    border-color: $color-4;
    label {
      color: $color-4;
    }
  }
}