@import 'helpers';
@import 'variables';
@import 'components';



.footer {
  padding: 5% 2%;

  ul{
    li {
      list-style: none;
      margin: 20px 0;
      a {
        color: $color-6;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;




        // line-height: 164.5%;


        &:hover {
          color: $color-1;

        }

      }
    }
  }


  h6 {

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 164.5%;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    color: $color-6;
    outline: 0;
    border-color: none;
    border: none;

    &:hover{
      color: $color-1;
    }
  }



  .contact-us {
    ul {
      li {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
}

.footer-f{
  p{
  font-family: 'SFProText-Regular';
    color: #808080;
    font-size: 14px;
  }
}
