<div class="container-fluid bg-ice">
  <div class="row footer">
    <div class="col-lg-3 col-md-6 text-center mx-auto">
      <div class="text-left">
        <img src="./assets/logos/precipy-logo.svg" alt="precipy-logo">
        <p class="mt-4">
          641 Lexington Avenue <br>
          Suite 1523 <br>
          New York, NY 10022
        </p>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 text-center mx-auto">
      <div class="text-left">
        <h6 routerLinkActive='active' routerLink='/terms'>
          Terms & Conditions
        </h6>
        <ul class="px-0">
          <!-- <li>
            <a href="javascript:void(0)" routerLinkActive='active'
            routerLink='/policies'>
              Policies
            </a>
          <li>
            <li>
              <a href="javascript:void(0)" routerLinkActive='active'
              routerLink='/policies/policy'>
                Policy
              </a> -->
          <li>
            <a href="javascript:void(0)" [routerLink]="[
            '/terms/privacy']">
              Privacy
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="[
            '/terms/condition']">
              Conditions of Use
            </a>
          </li>



        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 text-center mx-auto">
      <div class="text-left">
        <h6 routerLinkActive='active' routerLink='/about'>
          About Us
        </h6>
        <ul class="px-0">
          <li>
            <a href="javascript:void(0)" routerLinkActive='active' [routerLink]="[
            '/about', {section:'story'}]">
              Our Story
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" routerLinkActive='active' [routerLink]="[
            '/about', {section:'team'}]">
              Our Team
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" routerLinkActive='active' [routerLink]="[
            '/about', {section:'partners'}]">
              Become a Partner
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 text-center mx-auto">
      <div class="text-left">
        <h6 routerLinkActive='active' routerLink='/faq'>
          FAQ
        </h6>
        <ul class="px-0">
          <!-- <li>
            <a href="javascript:void(0)">
              Section 1
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Section 2
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Section 3
            </a>
          </li> -->

        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center mx-auto">
      <div class="text-left contact-us">
        <h6>
          Contact Us
        </h6>
        <ul class="px-0">
          <li>
            <a href="javascript:void(0)">
              <img src="./assets/icons/fb.png" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <img src="./assets/icons/ig.png" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <img src="./assets/icons/in.png" alt="">

            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <img src="./assets/icons/tw.png" alt="">

            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-7 mt-5 float-left text-left footer-f">
      <p>
        © Copyright 2020 Precipy LLC. All rights reserved.
        Prices available via website are subject to change without notice. The information provided is only a summary of
        the coverage.
        It is not all inclusive, and it does not alter or waive any of the actual policy language. Please refer to your
        policy documents for specific coverage language.
      </p>
    </div>
  </div>
</div>
