<button type="button" class="close" (click)="dialogRef.close()">
    <span>&times;</span>
</button>
<form [formGroup]="form" (submit)="save()" class="bg-quote form-pop">
    <mat-card class="shadow-none mx-4">
        <mat-card-header>
            <mat-card-title>
                <h4 class="title-pop-up"> How should we pay?</h4>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group" *ngIf="policy.BeneficiaryId && payouts.length ">
                        <mat-form-field appearance="outline" class="w-100">
                            <label class="gray mt-3 p-0" >Saved Methods</label>
                            <mat-select placeholder="Select from your saved methods" (selectionChange)="select($event)">
                                <mat-option *ngFor="let payout of payouts" [value]="payout">
                                    {{ payout.bank_name }} - last 4 digits {{ payout.last4  }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div formGroupName="stripe">
                        <div class="form-group">
                            <label for="ahc" class="col-form-label gray">Account holder name</label>
                            <input type="text" class="form-control" id="ahc" formControlName="account_holder_name">
                        </div>
                        <div class="form-group">
                            <label for="rn" class="col-form-label gray">Routing number</label>
                            <input type="text" class="form-control" id="rn" formControlName="routing_number">
                        </div>
                        <div class="form-group">
                            <label for="an" class="col-form-label gray">Account number </label>
                            <input type="text" class="form-control" id="an" formControlName="account_number">
                        </div>
                    </div>
                    <div class="form-check" formGroupName="ebao">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2"
                            formControlName="BeneficiaryPayoutPersist">
                        <label class="form-check-label gray" for="exampleCheck2">Save payout method</label>
                    </div>
                    <mat-hint class="text-danger my-3" *ngIf="form.errors?.stripe">
                        {{ form.errors.stripe }}
                    </mat-hint>
                    <div class="form-group mt-5">
                        <button type="submit" [disabled]="form.invalid || loading" class="btn btn-precipy  w-100">

                            <ng-container *ngIf="loading">Saving...</ng-container>
                            <ng-container *ngIf="!loading">Save</ng-container>

                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>
