<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-12 mx-auto">
      <div class="nav">
        <ul>
          <li>
            <a href="javascript:void(0)" [routerLink]="['personal']"
            routerLinkActive="active">
              Personal information
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="['beneficiary']"
            routerLinkActive="active">
              Beneficiary list
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="['payment']"
            routerLinkActive="active">
              Payment methods
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-lg-9 col-md-12 mx-auto">

      <router-outlet></router-outlet>
  </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="float-lg-right ilustration">
        <img src="./assets/icons/puddle-big.png" alt="">
      </div>
    </div>
  </div>
</div>
