@import 'helpers';
@import 'variables';
@import 'components';


.nav {
  padding: 100px 15px;
  li{
    list-style: none;
    margin: 20px 0;

  }
  a {
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-decoration: none;

    &:hover {
      background-color: #F79256;

      opacity: 0.7;
      border-radius: 53px;
      padding: 10px;
    }

  }
}


