<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 text-center mx-auto">
            <div class="cover-element">
                <img src="./assets/icons/umbrella.png" alt="precipy-umbrella">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 text-center mx-auto">
            <div class="cover-text text-left typewriter">
                <h1 class="title ">
                    Weather <br>
                    insurance for <br>
                    <h2 class="orange-text ">
                        the big game.
                    </h2>
                </h1>
                <small>
                    Buy a policy in <span class="orange-text ">5 minutes</span>, and get
                    paid <span class="typewriter"> <span class="orange-text ">automatically </span> if a wet field
                        cancels your plans.</span>
                </small>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-12 protections">
            <div class="help">
                <h5>
                    What can we help you protect? <img src="./assets/icons/check.svg" alt="">
                </h5>
                <h6>
                    Select a product to learn more
                </h6>
            </div>
            <div class="row">
                <div class="col-8 text-center mx-auto">
                    <div class="individuals">
                        <h3>
                            For individuals
                        </h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="icon_individual v1">
                                    <img src="./assets/icons/individuals_a.png" alt="">
                                </div>

                                <div class="row pt-3">
                                    <div class="col-lg-6 my-3" *ngFor="let service of segments[1]; let idx = index">
                                        <div class="individuals-item" (click)="pickService(service.Code)">
                                            <p>
                                                {{ service.Description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-6">

                                    <div class="individuals-item" (click)="pickService(2)">
                                        <p>
                                            Sports Events
                                        </p>
                                    </div>
                                    <div class="individuals-item" (click)="pickService(3)">
                                        <p>
                                            Concerts
                                        </p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="individuals-item" (click)="pickService(4)">
                                        <p>
                                            Weddings
                                        </p>
                                    </div>
                                    <div class="individuals-item" (click)="pickService(5)">
                                        <p>
                                            Gifting
                                        </p>
                                    </div>
                                    <div class="individuals-item">
                                        <p routerLinkActive='active' routerLink='/quote'>
                                            Anything else
                                        </p>
                                    </div>
                                </div> -->
                                <div class="icon_individual v2">
                                    <img src="./assets/icons/individuals_b.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 text-center mx-auto">
                    <div class="business">
                        <h3>
                            For business
                        </h3>
                        <div class="row">
                            <div class="col-12">
                                <div class="icon_individual v1">
                                    <img src="./assets/icons/businesses_a.png" alt="">
                                </div>
                                <div class="row pt-3">
                                    <div class="col-lg-12 my-3" *ngFor="let service of segments[2]; let idx = index">
                                        <div class="business-item" (click)="pickService(service.Code)">
                                            <p>
                                                {{ service.Description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="icon_individual v2">
                                    <img src="./assets/icons/businesses_b.png" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12">

            <div class="protections-text mt-5">
                <h2>
                    {{service.name}}
                </h2>
                <p>
                    {{service.description}}
                </p>

                <a href="javascript:void(0)" (click)="helper.openQuote(service)" class="btn-precipy">
                    Get a quote
                </a>
            </div>
            <div class="protection-element">
                <img [src]="service.img">
            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row why">
        <div class="col-lg-4 col-md-12 text-center mx-auto" id="why">
            <h2>
                Why Precipy
            </h2>
            <div class="puddle-small">
                <img src="./assets/icons/puddle-small.png" alt="puddle">
            </div>
        </div>
        <div class="col-lg-4 col-md-12 text-center mx-auto">
            <p class="text-left">
                We sell insurance that automatically pays what you choose if it rains or
                snows. You don’t even submit a claim!  <br> <br>
                Insure small amounts (down to
                $100) or large, and it’s all easy, online, and automatic. Buy for
                yourself or give as a gift.  <br> <br>
                Don’t let the weather rain on your parade.
            </p>
        </div>
        <div class="col-lg-4 col-md-12 fix text-center mx-auto">
            <img src="./assets/logos/precipy-logo-vertical.svg" alt="">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row how">
        <div class="col-lg-12 mx-auto text-center" id="how">
            <h2>
                How it Works
            </h2>
            <div class="row mt-2">
                <div class="col-lg-4 col-md-12 mx-auto text-center">
                    <div class="line">
                    </div>
                    <h3>
                        01
                    </h3>
                    <p>
                        Location
                    </p>
                    <small>
                        Where will your event be?
                    </small>
                </div>
                <div class="col-lg-4 col-md-12 mx-auto text-center">
                    <div class="line">

                    </div>
                    <h3>
                        02
                    </h3>
                    <p>
                        Time
                    </p>
                    <small>
                        When is your event?
                    </small>
                </div>
                <div class="col-lg-4 col-md-12 mx-auto text-center">
                    <h3>
                        03
                    </h3>
                    <p>
                        Coverage Amount
                    </p>
                    <small>
                        If it rains or snows, how much will it cost to bring back your
                        smile?
                    </small>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="ilustration">
                        <img class="px-0" src="./assets/icons/puddle-big.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-12 text-left start">
                    <span>
                        Ready to get started?
                        <a class="btn-precipy w-100" href="javascript:void(0)" (click)="helper.toggleNav()">
                            Get a quote
                        </a>
                    </span>

                </div>

            </div>
        </div>
    </div>
</div>
