@import "helpers";
@import "variables";
@import "components";

.cover-element {
    padding: 7%;

    img {
        @include media-breakpoint-down(md) {
            width: 320px;
            float: left;
        }

        @include media-breakpoint-up(md) {
            width: 100%;
        }

        @include media-breakpoint-up(lg) {
            width: 100%;
        }
    }
}

.cover-text {
    padding: 20% 5%;

    small {
        font-family: SFProText-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 164.5%;
        /* or 33px */

        color: #2f2e41;
    }

    h1,
    h2 {
        font-family: Georgia-Bold;
        font-style: normal;
        font-weight: bold;

        @include media-breakpoint-down(md) {
            font-size: 40px;
            line-height: 50px;
        }

        @include media-breakpoint-up(md) {
            font-size: 50px;
            line-height: 60px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 70px;
            line-height: 80px;
        }
    }
}

.protections {
    padding: 13% 8%;

    h5 {
        font-size: 26px;
        line-height: 30px;
        color: $color-2;
        font-family: Georgia-Bold;
    }

    h6 {
        text-transform: uppercase;
        color: #000000;
        opacity: 0.6;
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 164.5%;
    }

    .individuals {
        h3 {
            font-family: Georgia;
            font-style: italic;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            position: relative;
            top: 20px;

            color: $color-6;
        }

        .individuals-item {
            border: 1px solid $color-2;
            color: white;
            box-sizing: border-box;
            background: transparent;

            box-shadow: 0px 1px 6px rgba(57, 89, 89, 0.1);
            border-radius: 83px;
            line-height: 30px;
            cursor: pointer;
            position: relative;
            z-index: 10;
            height: 6vh;
            &:hover {
                border: 1px solid $color-2;
                color: white;
                background: $color-2;
            }

            // &:active {
            //   border: 1px solid $color-2;
            //   color: white;
            // background: $color-2;

            // }

            p {
                margin-top: 3.5%;
                font-family: SFProText-Regular;
                color: #2f2e41;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .business {
        @include media-breakpoint-up(lg) {
            position: relative;
            left: 50px;
        }

        h3 {
            font-family: Georgia;

            font-style: italic;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            position: relative;
            top: 20px;

            text-align: center;

            color: $color-6;
        }

        .business-item {
            border: 1px solid $color-3;
            background: transparent;

            box-sizing: border-box;

            box-shadow: 0px 1px 6px rgba(57, 89, 89, 0.1);
            border-radius: 83px;
            line-height: 30px;
            cursor: pointer;
            height: 6vh;

            position: relative;
            z-index: 10;
            &:hover {
                border: 1px solid $color-3;
                color: white;
                background: $color-3;
            }

            p {
                margin-top: 3.5%;
                font-family: SFProText-Regular;
                color: #2f2e41;

                &:hover {
                    color: white;
                }
            }
        }
    }

    // .array-left{
    //   position: absolute;
    // left: 12.7%;
    // right: 86.17%;
    // top: 6.21%;
    // bottom: 85.42%;
    // height: 100px;
    // float: left;

    // opacity: 0.5;
    // border: 2px solid #29E2E2;
    // border-radius: 12px;
    // }

    // .array-right{
    //   position: absolute;
    // left: 33.68%;
    // right: 65.19%;
    // top: 14.58%;
    // bottom: 77.05%;
    // height: 100px;
    // float: right;
    // opacity: 0.5;
    // border: 2px solid #29E2E2;
    // border-radius: 12px;
    // transform: rotate(-180deg);
    // }
}

.protections-text {
    padding: 25% 8% 0 8%;

    h2 {
        font-family: Georgia-Bold;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
    }

    p {
        font-family: SFProText-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 164.5%;
    }

    a {
        left: 60%;
        top: 10px;
        position: relative;
    }
}



.why {
    padding: 5% 0;
    background-color: #fff;

    .fix{
      img{
        position: relative;
        top: 60px;
      }
    }

    h2 {
        font-family: Georgia-Bold;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 57px;
        position: relative;
        top: 100px;

    }

    p {
        font-family: SFProText-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
    }
}

.how {
    padding: 5% 0;

    .line {
        position: absolute;
        left: 73.4%;
        right: -32.73%;
        top: 50px;
        bottom: 89.81%;
        border: 1px dashed #f79256;
    }

    h2 {
        font-family: Georgia-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 57px;
    }

    h3 {
        font-family: Georgia-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 70px;
        line-height: 80px;
        background: -webkit-linear-gradient(#F79256, #FCA876);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-family: Georgia-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 34px;
    }

    small {
        font-family: SFProText-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 164.5%;
        color: #2f2e41;
    }

    .start {
        padding: 15% 0 0 10%;

        span {
            font-family: Georgia-Bold;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 34px;
        }

        a {
            font-size: 0.7em !important;
            margin: 0 5%;
        }
    }
}

.typewriter h2 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.1em solid $color-1;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    animation: typing 3.5s, blink-caret 0.5s;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    40% {
        border-color: $color-1;
    }
}

.ilustration {
    img {
        position: absolute;
        right: 0;
        top: 40px;
    }
}

.puddle-small {
    position: absolute;
    top: 380px;
    left: 0;
}

.icon_individual {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 100%;

    img {
        position: absolute;
        top: 0;
        height: 100%;
        object-fit: contain;
    }
    &.v1 img {
        left: 0;
    }

    &.v2 img {
        right: 0;
    }
}
