
@import 'helpers';
@import 'variables';
@import 'components';
@import 'material-ajusts';

.mat-card, .form-pop {
  background: #F6FAFD !important ;
  border-radius: 0;
}


.form-pop{
  font-family:SFProText-Regular ;

  h4{
    font-family: Georgia-Bold;
  text-align: center;

  }
  label ,mat-label{
    font-family:SFProText-Regular ;
    font-size: 14px;
    line-height: 164.5%;
    color: #434648;


  }


    p{
      font-size: 14px;
      line-height: 164.5%;
    color: #828282;
    font-family: SF_Pro_Text_Italic!important;

    }

}






.form-control {
  border: 2px solid #BBDBDB !important;
  font-family: SFProText-Regular !important;
  border-radius: 0;
  font-size: 14px;
  height: 50px;
  color: black !important;


}

.gift-form{
  &::before{
    content: "";
    position: absolute;
    top: 120px;
    height: 2px;
    width: 100%;
    margin: 0px 0;
    background: #BBDBDB;

}
}



