
 <button type="button" class="close" (click)="dialogRef.close()" >
    <span aria-hidden="true">&times;</span>
</button>
<form [formGroup]="form" class="bg-quote form-pop">
    <mat-card class="shadow-none mx-4">
        <mat-card-header>
            <mat-card-title>
                <h4 class="title-pop-up">Who gets paid if it rains?</h4>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-row" *ngIf="auth.isLoggedIn && pay.beneficiaries.length">
                <div class="col-12">
                    <p >
                        Choose from saved beneficiaries
                    </p>
                </div>
                <div class="col-12">
                    <div class="form-group">

                        <mat-form-field  appearance="outline" class="w-100">
                            <mat-label>Saved Beneficiaries</mat-label>
                            <mat-select placeholder="Saved Beneficiaries" formControlName="saves" (selectionChange)="select($event)">
                                <mat-option  [value]="''">
                                   Choose someone
                                  </mat-option>
                              <mat-option *ngFor="let beneficiary of pay.beneficiaries"  [value]="beneficiary.individual?.first_name">
                                {{ beneficiary.individual?.first_name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
                <div class="col-12">
                    <p >
                        Or add a new beneficiary
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Full Name</label>
                <input type="text" placeholder="Enter beneficiary’s full name" class="form-control"
                    id="recipient-name" formControlName="BeneficiaryName">
            </div>
            <div class="form-group">
                <label for="message-text" class="col-form-label">Email:</label>
                <input type="text" placeholder="Enter beneficiary’s email" class="form-control"
                id="message-text" formControlName="BeneficiaryEmail" >
            </div>
            <div class="form-check" *ngIf="auth.isLoggedIn ">
                <label class="form-check-label" for="example3">
                <input type="checkbox" class="form-check-input" formControlName="BeneficiaryPersist" id="example3">
                Save this beneficiary for future
                    gifts</label>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group gift-form">
                        <label for="message-text2" class="col-form-label mt-2">Gift Note (Optional)</label>
                        <textarea class="form-control w-100" id="message-text2" formControlName="BeneficiaryMessage"
                            placeholder="Enter a message for the beneficiary"></textarea>
                    </div>
                </div>
                <div class="col-lg-12 mt-5">
                    <button type="submit" [disabled]="form.invalid"  (click)="save()" class="btn btn-precipy btn-block">Save</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>

