<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 text-left log">
            <div *ngIf="params.sended" class="text-center py-5 my-4">
                <h1 class=" h3">
                    We sended a email to <span class="txt-orange"> {{ params.email }}</span> to reset the password
                </h1>
            </div>
            <form [formGroup]="form" (submit)="send()" *ngIf="!params.sended">

                <h1 class="title">
                    Forgot the Password?
                </h1>

                <div class="login form">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter your email" formControlName="email">
                            <mat-hint class="text-danger" *ngIf="form.errors?.fire">
                                {{ form.errors?.fire }}
                            </mat-hint>
                        </mat-form-field>
                    </p>

                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-precipy w-100">
                            <ng-container *ngIf="!helper.isLoading">Send Email</ng-container>
                            <ng-container *ngIf="helper.isLoading">wait a sec...</ng-container>
                        </button>
                    </div>

                </div>
            </form>

        </div>
        <div class="col-lg-4 col-md-12 text-center">
            <div class="element mx-auto">
                <img src="./assets/icons/umbrella.png" alt="precipy-umbrella">
            </div>
        </div>
    </div>
</div>
