<form novalidate  [formGroup]="form" (submit)="submit()">
    <h3 class="title-1">Choose your payment method</h3>
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="rounder col-lg-11 mx-auto">
                <!-- <div class="container_card" >
                    <div class="card">
                        <div class="left">

                            <span ></span>
                        </div>
                        <div class="right">

                        </div>
                    </div>
                </div>
     -->

                <div class="container-fluid card " >
                    <div class="row">
                        <div class="col-lg-12 text-center py-3" *ngIf="loadings.paymodes">
                            <i class="fas fa-spinner fa-spin fa-3x"></i>
                        </div>
                        <div class="col-lg-12 py-3 text-center" *ngIf="!pay.paymentMethods.length && !loadings.paymodes">
                            No payment methods saved
                        </div>
                    </div>
                    <div class="row" *ngFor="let paymentOption of pay.paymentMethods; let idx = index">
                        <div class="col-lg-12 rounded"
                        *ngIf="paymentOption?.id"
                        [ngClass]="{
                            'bg-white': pay.payIdx !== idx,
                            'bg-orange':pay.payIdx == idx
                        }">
                            <label [for]="paymentOption.id" class="d-block">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="card-info ">
                                            <input type="checkbox" [id]="paymentOption.id" [checked]="pay.payIdx == idx"
                                             (change)="$event.target.checked? pay.selectPaymentMethod(idx): pay.payIdx = null">
                                            <div class="card-icon d-inline-block ml-3">
                                                <i class="fab fa-3x" [ngClass]="'fa-cc-'+ paymentOption.card.brand"></i>
                                            </div>

                                            <div class="ml-3">
                                                Card ending in {{ paymentOption.card.last4 }}
                                            </div>
                                            <div class="ml-4">
                                                Zip:
                                                {{ paymentOption.billing_details.postal_code? paymentOption.billing_details.postal_code: ''}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="card-info float-right">
                                            <button class="btn" type="button" (click)="methodEdit(paymentOption, idx)">
                                                Edit
                                            </button>
                                            &nbsp;
                                            <button class="btn" [disabled]="deletingIdx == idx" type="button" (click)="removeMethod(paymentOption.id, idx)">

                                                <ng-container *ngIf="deletingIdx == idx">Deleting...</ng-container>
                                                <ng-container *ngIf="deletingIdx !== idx"> Delete</ng-container>

                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="add_payment mt-2" (click)="showHideNewMethod = !showHideNewMethod">
                    <span *ngIf="!showHideNewMethod">  <img src="./assets/icons/arrow-down.png" alt=""> Add a new payment method</span>
                    <span *ngIf="showHideNewMethod">  <img src="./assets/icons/arrow-down.png" alt="">Hide add payment method</span>
                </div>
                <div class="information_payment" *ngIf="showHideNewMethod">
                    <div class="form-row mx-0 my-3">
                      <div class="col-lg-2">
                        <span>Payment Option</span>
                      </div>
                        <div class="col-lg-3">
                            <select class="form-control form-control-sm" formControlName="payment_method">
                                <option value="card">Card</option>
                                <option value="bank">Bank Account</option>
                            </select>
                        </div>
                        <div class="col-lg-2 name-card">
                          <span>Name on card</span>
                        </div>
                        <div class="col-lg-3 pl-0"  formGroupName="card" >
                            <input type="text" class="form-control" placeholder=""
                                formControlName="name">
                        </div>
                    </div>
                    <div class="form-row mx-0 my-3">

                        <ng-container formGroupName="card" *ngIf="form.get('payment_method').value == 'card'">

                            <div class="col-lg-10">
                                <!-- <label for="">&nbsp;</label> -->
                                <div class="bg-white px-3">
                                    <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions">
                                    </ngx-stripe-card>
                                </div>
                                <div class="mt-2" *ngIf="form.errors?.stripe" class="text-danger">
                                    {{ form.errors?.stripe}}
                                </div>
                            </div>
                        </ng-container>

                        <ng-container formGroupName="account"
                            *ngIf="form.get('payment_method').value == 'bank'">
                            <div class="col-lg-4">
                                <label for="ahc" class="col-form-label">Account holder name</label>
                                <input type="text" class="form-control" id="ahc" formControlName="account_holder_name">
                            </div>
                            <div class="col-lg-4">
                                <label for="an" class="col-form-label">Account number </label>
                                <input type="text" class="form-control" id="an" formControlName="account_number">
                            </div>
                            <div class="col-lg-4">
                                <label for="rn" class="col-form-label">Routing number</label>
                                <input type="text" class="form-control" id="rn" formControlName="routing_number"
                                    mask="09*.99" [patterns]="customPatterns">
                            </div>
                            <div class="col-lg-12">
                                <div class="mt-2" *ngIf="form.errors?.stripe" class="text-danger">
                                    {{ form.errors?.stripe}}
                                </div>
                            </div>
                        </ng-container>

                    </div>

                    <div class="block">
                        <div class="end-group float-right">
                            <button type="submit"  [disabled]="loadings.addPaymentMethod"
                                class="btn-precipy v6">
                                <span *ngIf="loadings.addPaymentMethod">
                                    <i class="fas fa-spinner fa-spin"></i> adding...
                                </span>

                                <span style="color:white;" *ngIf="!loadings.addPaymentMethod">
                                    Add
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</form>
<!--<form action="/" method="post" id="payment-form">
    <div class="form-row">
      <div id="card-element">

      </div>


      <div id="card-errors" role="alert"></div>
    </div>
  <button ion-button block large>Add Card</button>
  </form>-->
<!--<form action="/" method="post" id="payment-form">
    <div class="form-row">
      <div id="card-element">

      </div>


      <div id="card-errors" role="alert"></div>
    </div>
  <button ion-button block large>Add Card</button>
  </form>-->
