h3.title {
  margin: 1% 0 0 1%;
  font-size: 22px;
  margin-left: 6%;
}


div.rounder {
  border: 2px solid #fd7e14;
  padding: 1.5%;
  border-radius: 15px;
}


.card {


  .card-info {
    height: 100px;
    display: flex;
    align-items: center;
    input{
      // font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #000000;
    }
  }
}


.add_payment span {

  color: "#2f2e41";


  cursor: pointer;
  // font-family: SF Pro Text;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

/* colors/dark purple */

color: #2F2E41;
img{
  margin: 0 5px;
}
}

.information_payment{
  padding: 20px 30px;
span{
  // font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #353535;
}
}

.title-1{
  font-family: Georgia-bold;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 34px;
color: #2F2E41;
margin: 35px 65px;

}

label ,mat-label{
  font-family:SFProText-Regular ;
  font-size: 14px;
  line-height: 164.5%;
  color: #434648;


}

.name-card{
  span{
    position: relative;
    left: 10px;
  }
}

.end-group{
  position: relative;
  top: -60px;
}
