@import '~ngx-toastr/toastr';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$precipy-primary: mat-palette($mat-indigo);
$precipy-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$precipy-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$precipy-theme: mat-light-theme($precipy-primary, $precipy-accent, $precipy-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($precipy-theme);

@import 'helpers';
@import 'variables';
@import 'components';

@import '~@angular/material/theming';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


@import '~saturn-datepicker/theming';
@include sat-datepicker-theme($precipy-theme);



body {
  background-color: #F6FAFD !important;
  font-family: 'SFProText-Regular';
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar-track {
    background-color: transparent ;
   }
   body::-webkit-scrollbar {
    width: 6px;
    background: transparent;
   }
   body::-webkit-scrollbar-thumb {
    background:  $color-1;
   }


.mat-form-field-wrapper {
  .mat-form-field {
    .mat-form-field-flex {
      select {
        margin-top: 1px !important;
      }
    }
  }


}

.disabled-all {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

#payment-modal {
  background-color: #F6FAFD;
}

@font-face {
  font-family: 'Georgia';
  src: url('./assets/fonts/Georgia/Georgia.eot');
  src: url('./assets/fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Georgia/Georgia.svg#Georgia') format('svg'),
    url('./assets/fonts/Georgia/Georgia.ttf') format('truetype'),
    url('./assets/fonts/Georgia/Georgia.woff') format('woff'),
    url('./assets/fonts/Georgia/Georgia.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia-Bold';
  src: url('./assets/fonts/Georgia-Bold/Georgia-Bold.eot');
  src: url('./assets/fonts/Georgia-Bold/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Georgia-Bold/Georgia-Bold.svg#Georgia-Bold') format('svg'),
    url('./assets/fonts/Georgia-Bold/Georgia-Bold.ttf') format('truetype'),
    url('./assets/fonts/Georgia-Bold/Georgia-Bold.woff') format('woff'),
    url('./assets/fonts/Georgia-Bold/Georgia-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}





@font-face {
  font-family: 'SFProText-Regular';
  src: url('./assets/fonts/SF_Pro_Text/SFProText-Regular.eot');
  src: url('./assets/fonts/SF_Pro_Text/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/SF_Pro_Text/SFProText-Regular.svg#SFProText-Regular') format('svg'),
    url('./assets/fonts/SF_Pro_Text/SFProText-Regular.ttf') format('truetype'),
    url('./assets/fonts/SF_Pro_Text/SFProText-Regular.woff') format('woff'),
    url('./assets/fonts/SF_Pro_Text/SFProText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF_Pro_Text_Italic';
  src: url('./assets/fonts/SF_Pro_Text_Italic/SFProText-Italic.eot');
  src: url('./assets/fonts/SF_Pro_Text_Italic/SFProText-Italic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/SF_Pro_Text_Italic/SFProText-Italic.svg#SFProText-Italic') format('svg'),
    url('./assets/fonts/SF_Pro_Text_Italic/SFProText-Italic.ttf') format('truetype'),
    url('./assets/fonts/SF_Pro_Text_Italic/SFProText-Italic.woff') format('woff'),
    url('./assets/fonts/SF_Pro_Text_Italic/SFProText-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.italic{
  font-family: SF_Pro_Text_Italic!important;

    }

.gray {
  font-family: SFProText-Regular !important;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #707070 !important;
}


.bg-orange-soft {
  background-color: rgba(255,212,185,0.2);

  border-radius: 5px;
  padding: 2px 8px;


  &.v1{
    padding: 5px 8px;

    }
  &.v2{
  padding: 12px 8px;

  }

}

.bg-orange-soft-1 {
  background-color: rgba(255,212,185,0.2);
  border-radius: 5px;
  padding: 11px;
  &.v1{
  padding: 2px 4px;

  }

}


.bg-orange-soft-2 {
  background-color: $color-1;
  // opacity: 0.8;
  border-radius: 5px;
  padding: 6px 0;
}


.bg-orange-soft-3 {
  background-color: rgba(255,212,185,0.2);
  border-radius: 5px;
  padding: 14px;


}

.bg-orange-soft-4 {
  background-color: rgba(255,212,185,0.2);
  border-radius: 5px;
  padding: 12px 8px;

}
