@import 'helpers';
@import 'variables';
@import 'components';
@import 'material-ajusts';

.checkout {
  padding: 5%;

  h1 {
    font-family: Georgia-Bold;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;

    color: $color-6;
  }
}

.not-able {
  opacity: 30%;
}

.able {
  opacity: 100% !important;

}

.policies {
  padding: 2% 1%;

  span {
    font-family: SFProText-Regular;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: $color-6;

    line-height: 17px;
    position: relative;
    left: 0px;
  }
}

.number {
  padding: 2% 1%;
  margin: 3% 0 0 0;


  .bold{
    font-weight: 700 !important;
    color: $color-6 ;
  }

  span{
    margin: 0 11px;
    font-family: SFProText-Regular;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #2F2E41;
  }


}

.bold {
  font-weight: 700 !important;
  color: $color-6 ;

  &.v1{
    font-family: SFProText-Regular;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: #2F2E41;
  }
}

.txt-green {
  color: #57B894;
}

.manage {
  a {
    color: $color-6;
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;

    img {
      margin: 10%;
    }
  }
}

.not-able {
  opacity: 30%;
  a {
    cursor: default;
    pointer-events: none;
  }
}

.infos {
  padding: 2% 1%;
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;

  span {
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    /* colors/dark purple */

    color: #2F2E41;
    opacity: 0.6;
  }
}


.line {
  position: relative;
  height: 2px;
  width: 93%;
  background-color: $color-1;
  margin-bottom: 10%;
}


.botoes {


  P {
    color: #BB3636;
  }
}

.cart {
  // padding: 5%;

  h2 {
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 164.5%;

    letter-spacing: -0.5px;

    color: #353535;
  }

  .cost {
    span {
      font-family: SFProText-Regular;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      color: #353535;
    }

    div {
      padding: 3% 0;
    }
  }

  .order {
    span {
      font-family: SFProText-Regular;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #353535;
    }
  }

}

.title-pop-up{
  h4 {
    font-family: Georgia-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;

    /* colors/dark purple */

    color: $color-6;
  }
}


.payout-need button {
  background: $color-1
}
.text-danger {
  font-family: SFProText-Regular !important;
  font-size: 14px;
}

.premium{
  // opacity: 0.15;
  border-left:1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  p{
    margin-top: 70px;
  // opacity: 1 !important;

  }

}

