<div class="container-fluid">
  <div class="row">
    <div class="col-lg-11 mx-auto text-center checkout">
      <h1>
        My Shopping Cart
      </h1>
      <div class="row">
        <div class="col-lg-12 mt-4 mx-auto bg-soft-gray policies">
          <div class="row">
            <div class="col-8 text-left float-left">
              <span>
                Policy Information
              </span>
            </div>
            <div class="col-2">
              <span>
                Price
              </span>
            </div>
            <div class="col-2">
              <span>
                Actions
              </span>
            </div>
            </div>
          </div>
          </div>
            <ng-container *ngFor="let item of cart.items; let idx= index ">
              <div class="row">
                <div class="col-12  number text-left" [ngClass]="{
                            'bg-gray': !auth.isLoggedIn || !item.BeneficiaryPayoutLast4  && !item.BeneficiaryName,
                            'bg-orange': auth.isLoggedIn && item.BeneficiaryPayoutLast4 || item.BeneficiaryName
                        }">
                  <ng-container *ngIf="item.duplicate ">new duplicate</ng-container>
                  <div class="float-right text-danger" *ngIf="!item.BeneficiaryPayoutLast4 && !item.BeneficiaryName">
                    <img src="./assets/icons/alert.png" alt=""> So close. Please complete (or delete) this policy.
                  </div>
                </div>
              </div>
              <div class="row infos">
                <div class="col-lg-8 text-left">
                  <div class="row">
                    <div class="col-4">
                      <p>
                        Where
                      </p>
                      <p class="bold v1 text-truncate">
                        {{ item.PolicyLobList[0]?.PolicyRiskList[0]?.FormattedAddress }}
                      </p>
                    </div>
                    <div class="col-4">
                      <p>
                        When
                      </p>
                      <p class="bold v1">
                        <ng-container *ngIf="item.EffectiveDate == item.ExpiryDate">
                          {{ item.EffectiveDate | date: 'mediumDate' }}
                          {{  timeList[item.EffectiveTime]? timeList[item.EffectiveTime].publicTime: '' }} -
                          {{  timeList[item.ExpiryTime]? timeList[item.ExpiryTime].publicTime: '' }}
                        </ng-container>
                        <ng-container *ngIf="item.EffectiveDate != item.ExpiryDate">
                          {{ item.EffectiveDate | date: 'mediumDate' }}
                          {{  timeList[item.EffectiveTime]? timeList[item.EffectiveTime].publicTime: '' }}
                          -
                          {{ item.ExpiryDate | date: 'mediumDate' }}
                          {{  timeList[item.ExpiryTime]? timeList[item.ExpiryTime].publicTime: '' }}
                        </ng-container>
                      </p>
                    </div>
                    <div class="col-2">
                      <p>
                        Rain Amount
                      </p>
                      <p class="bold v1">
                        {{ productService.getInfo(item.PolicyLobList[0].PolicyRiskList[0].PolicyCoverageList[0].RainIntensity).Description }}
                      </p>
                    </div>
                    <div class="col-2">
                      <p>
                        Coverage
                      </p>
                      <p class="bold v1">
                        {{ item?.SumInsured | currency }}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p>
                        Beneficiary
                      </p>
                      <p class="bold v1" [ngClass]="{'not-able': !auth.isLoggedIn}">

                        <ng-container *ngIf="item.BeneficiaryName; else elseTemplate">
                          {{ item.BeneficiaryName }}
                        </ng-container>
                        <ng-template #elseTemplate class="px-3">
                          Myself
                        </ng-template>

                        <button type="button" class="btn" style="font-size: 14px;" href="javascript:void(0)"
                          (click)="editBeneficiary(item, idx)">
                          <img src="./assets/icons/edit.png" alt="">
                        </button>
                      </p>
                    </div>
                    <div class="col-4">
                      <p class="gray">
                        Gift Note
                      </p>
                      <p class="bold v1 bg-orange-soft-3">
                        Add a note
                        <!-- <button (click)="editBeneficiary(item, idx, true)" type="button" class="btn" style="font-size: 14px;">
                                        {{ item?.BeneficiaryMessage? item?.BeneficiaryMessage: 'Add a note here.' }}  <img src="./assets/icons/edit.png">
                                    </button> -->
                      </p>
                    </div>
                    <div class="col-4">
                      <p class="gray">
                        Payout Method
                      </p>
                      <p [ngClass]="{'not-able': !auth.isLoggedIn}" class="bg-orange-soft-2 ">
                        <ng-container *ngIf="!item.BeneficiaryPayoutLast4; else hasPayout">

                          <button (click)="paymentOut(item, idx)" type="button" class="btn bold v1">
                            + Add
                          </button>
                          <!-- <small class="text-danger d-block">Please let us know how to pay you if it rains.</small> -->
                        </ng-container>
                        <ng-template #hasPayout>
                          ending in {{ item.BeneficiaryPayoutLast4 }}
                          <button (click)="paymentOut(item, idx)" type="button" class="btn">
                            <img src="./assets/icons/edit.png">
                          </button>
                        </ng-template>

                      </p>
                    </div>

                  </div>
                </div>
                <div class="col-lg-2 premium">
                  <p class="bold adjust">
                    {{ item.DuePremium | currency }}
                  </p>
                </div>
                <div class="col-lg-2 text-left manage mt-3">
                  <a href="javascript:void(0)" (click)="edit(item, idx)">
                    <img src="./assets/icons/edit.png" alt=""> Edit
                  </a> <br>
                  <a href="javascript:void(0)" (click)="duplicate(idx)" [ngClass]="{'disabled': duplicatingIdx == idx}">
                    <img src="./assets/icons/duplicate.png" alt="">
                    <ng-container *ngIf="duplicatingIdx == idx; ">
                      duplicating...
                    </ng-container>
                    <ng-container *ngIf="duplicatingIdx != idx; ">
                      Duplicate
                    </ng-container>
                  </a> <br>
                  <a href="javascript:void(0)" [ngClass]="{'disabled': deletingIdx == idx}" (click)="delete(idx)">
                    <img src="./assets/icons/delete.png" alt="">
                    <ng-container *ngIf="deletingIdx == idx; ">
                      deleting...
                    </ng-container>
                    <ng-container *ngIf="deletingIdx !== idx; ">
                      Delete
                    </ng-container>
                  </a>
                </div>
              </div>
            </ng-container>
            <div class="row" *ngIf="cart.items.length == 0">
              <div class="col-lg-12 text-center">
                No policy in the shopping cart
              </div>
            </div>



      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 price  text-center">
          <div class="line mx-auto">

          </div>
          <div class="row">
            <div class="col-lg-7 offset-lg-5 text-left cart">
              <div class="row">
                <div class="col-lg-6 col-md-12 ">
                  <h2>
                    Cart Summary
                  </h2>
                </div>
                <div class="col-lg-5 col-md-12 cost">
                  <div>
                    <span>
                      Price Premium
                    </span>
                    <span class="float-right">
                      {{ cart.premiumPrice | currency }}
                    </span>
                  </div>
                  <div>
                    <span>
                      Sales Tax
                    </span>
                    <span class="float-right">
                      {{ cart.taxPrice | currency }}
                    </span>
                  </div>
                  <div class="order">
                    <span>
                      Order Total
                    </span>
                    <span class="float-right">
                      {{ cart.totalPrice | currency }}
                    </span>
                  </div>

                </div>
              </div>
              <h2>

              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" *ngIf="auth.isLoggedIn">
          <app-pay></app-pay>
        </div>
      </div>
      <div class="row botoes mb-5 pb-5">
        <div class="col-lg-6 mx-auto text-right ">
          <button (click)="helper.openQuote()" class="btn btn-precipy" [disabled]="loading">
            Add a new policy
          </button>
        </div>
        <div class="col-lg-6 mx-auto text-left  ">
          <button class="btn btn-precipy v1" *ngIf="auth.isLoggedIn"
            [disabled]="!cart.isAblePayment || !pay.isAblePayment || loading" (click)="doPayment()">
            <span *ngIf="loading">
              processing...
            </span>
            <span *ngIf="!loading">
              Continue
            </span>
          </button>

          <button href="javascript:void(0)" class="btn-precipy v1 not-able"
            [routerLink]="['/auth/login', {checkoutLogin: 1}]" *ngIf="!auth.isLoggedIn">
            Log in to continue
          </button>
          <p class="mt-4" *ngIf="!cart.isAblePayment && cart.items.length > 0 ">
            <img src="./assets/icons/alert.png" alt="">
            Please complete the policy information before checking out.
          </p>
        </div>
      </div>
    </div>
