<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-md-12 text-left faq">
      <h1 class="title">
        FAQ
      </h1>
      <div class="element" style="z-index:0;">
        <img src="./assets/icons/umbrella-blue.png" alt="">
      </div>
      <ul class="px-0 " style="z-index:1 !important;">
        <mat-accordion class="custom">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <li>
                  <a href="javascript:void(0)">
                    1. Is Precipy for individuals or for businesses?
                    <img src="./assets/icons/arrow-down.png" alt="">
                  </a>
                </li>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <p>The short answer is, both! Individuals and businesses depend on fair weather for so many things.
                Whether you’re an individual or a business, you’re just a few minutes away from being protected by
                Precipy.</p>
            </mat-panel-description>
          </mat-expansion-panel>


        </mat-accordion>
        <mat-accordion class="custom">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <li>
                  <a href="javascript:void(0)">
                    2. What kind of things can I use Precipy for?
                    <img src="./assets/icons/arrow-down.png" alt="">
                  </a>
                </li>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <p>If you made an investment in an outdoor activity, such as a vacation, a sports event, a concert, or a
                wedding, then Precipy is what you need to protect that investment from being washed away.
                <br>
                <br>
                If you’re a business, you can use Precipy to protect against lost revenue. Suppose you’re a business
                that depends on customers coming to your store or restaurant on a major holiday? Now you can protect
                against lost revenue with Precipy.
                <br>
                <br>
                Businesses can even use Precipy for a marketing promotion. Here’s an example. Suppose you want to
                attract customers to your car dealership on December 15? You can offer a promotion that gives each car
                buyer a chance to have their new car paid in full if it rains on, say, January 15. Just purchase Precipy
                for the total amount of all your customer purchases made on December 15, and if it rains as much as the
                amount you specified in your policy, then Precipy will pay you to cover all those customer purchases.
                <br>
                <br>
                You can even give Precipy as a gift. Want to wish someone a sunny birthday? Send Precipy, and if it <br>
                rains, then they’ll be paid to make up for whatever plans they had made.
              </p>
            </mat-panel-description>
          </mat-expansion-panel>


        </mat-accordion>
        <mat-accordion class="custom">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <li>
                  <a href="javascript:void(0)">
                    3. How will I be notified of a claim?
                    <img src="./assets/icons/arrow-down.png" alt="">
                  </a>
                </li>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <p>We’ll automatically send you an email notification if it rained at least the amount you specified for
                your coverage date and location.</p>
            </mat-panel-description>
          </mat-expansion-panel>


        </mat-accordion>
        <mat-accordion class="custom">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <li>
                  <a href="javascript:void(0)">
                    4. Do I need anything to get paid?
                    <img src="./assets/icons/arrow-down.png" alt="">
                  </a>
                </li>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <p>All you need to do is tell us how you want to be paid. After that, we’ll send you the money
                automatically. No forms, no calls, no long waits. It’s that easy. Just go to Payment Methods, in the My
                Account page, and specify how you want to be paid.</p>
            </mat-panel-description>
          </mat-expansion-panel>


        </mat-accordion>
        <mat-accordion class="custom">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <li>
                  <a href="javascript:void(0)">
                    5. How long does it take to get paid?

                    <img src="./assets/icons/arrow-down.png" alt="">
                  </a>
                </li>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <p>If you provided us with your Payment Method, then you’ll be paid within a few hours (but up to 24
                hours) after we receive confirmation that it rained at least the amount specified in your policy for the
                Coverage Date and Coverage Location.
              </p>
            </mat-panel-description>
          </mat-expansion-panel>


        </mat-accordion>
        <mat-accordion class="custom">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <li>
                  <a href="javascript:void(0)">
                    6. How do you determine if it has rained or snowed?

                    <img src="./assets/icons/arrow-down.png" alt="">
                  </a>
                </li>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <p>We use two (2) data sources: 1) the weather observation station operated and maintained by the <br> National
                Weather Service (NWS) of the National Oceanic and Atmospheric Administration (NOAA) that is <br> nearest to
                the Coverage Location, and 2) weather data from The Weather Company, a subsidiary of <br> International
                Business Machines (IBM).
                <br>
                <br>
                If either of the two (2) data sources measure and record a rain amount that is equal to or greater <br> than
                the amount you specified for your policy, then a claim will be automatically paid. There is no need to
                file <br> a claim or to submit any further information.
              </p>

            </mat-panel-description>
          </mat-expansion-panel>


        </mat-accordion>
        <mat-accordion class="custom" class="w-75">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <li>
                  <a href="javascript:void(0)">
                    7. How do I send Precipy as a gift?

                    <img src="./assets/icons/arrow-down.png" alt="">
                  </a>
                </li>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <p>
                We all know that it stinks when it rains on your birthday, so send your friend or loved one Precipy! <br>
                Just name them as the Beneficiary when you make your purchase, include a short note so that <br> they know
                it’s from you, and we’ll do the rest! If it rains at least the amount in the policy you purchased, <br> then
                we’ll notify them automatically. They can even provide the payment method in advance so we can send <br>  them
                the money quicker.
              </p>
            </mat-panel-description>
          </mat-expansion-panel>


        </mat-accordion>
      </ul>

    </div>
  </div>
</div>
