@import 'helpers';
@import 'variables';
@import 'components';


.faq {
  padding: 7%;

  .element {
    img {
      width: 50%;
      float: right;
      position: absolute;
      left: 70%;
      top: 40%;

    }
  }

  h1 {
    font-family: Georgia-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
  }

  ul {
    color: $color-1;
    padding: 5% 2%;

    li {
      padding: 15px 0;


    }

    a {
      font-family: SFProText-Regular;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 164.5%;
      text-decoration: none;
      /* or 36px */

      letter-spacing: -0.5px;

      /* precipy/highlight */

      color: #F79256;


    }

    p {
      font-family:SFProText-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 164.5%;
      /* or 33px */


      /* colors/dark purple */

      color: #2F2E41;
    }

    a:active {
      img{
          transform: rotate(180deg);
          transition: all(1s);

      }
    }

  }

}


